<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">

    <title>
        {% block title %}TITLE PLACEHOLDER{% endblock %}
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body class="bg-dark">
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NFL Cheat Sheet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('matchups') }}" >Matchups</a>
        </li>
        <!-- Teams Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Teams
          </a>
          <div class="shadow dropdown-menu dropdown-menu-dark p-4 mw-50" style="width: 1000px" aria-labelledby="navbarDarkDropdownMenuLink">
            <form action="{{ url_for('team') }}" method="GET">
            <!-- AFC Teams -->
            <div class="row m-2">
              <!-- AFC North -->
              <div class="col-3">
                <div class="row justify-content-center">
                  <div class="col-8"><h5>AFC North</h5></div>
                </div>
                {% for team in teams %}
                {% if team.conference == "AFC" and team.division == "North" %}
                <button id="{{ team.key }}" class="btn btn-small text-white" name="team" value="{{ team.key }}">
                  <div class="row" >
                    <div class="col-4"><img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" class="img-fluid"></div>
                    <div class="col-8 text-start align-self-center">{{ team.name }}</div>
                  </div>
                </button>
                {% endif %}
                {% endfor %}
              </div>
              <!-- AFC East -->
              <div class="col-3">
                <div class="row justify-content-center">
                  <div class="col-8"><h5>AFC East</h5></div>
                </div>
                {% for team in teams %}
                {% if team.conference == "AFC" and team.division == "East" %}
                <button id="{{ team.key }}" class="btn btn-small text-white" name="team" value="{{ team.key }}">
                  <div class="row" >
                    <div class="col-4"><img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" class="img-fluid"></div>
                    <div class="col-8 text-start align-self-center">{{ team.name }}</div>
                  </div>
                </button>
                {% endif %}
                {% endfor %}
              </div>
              <!-- AFC South -->
              <div class="col-3">
                <div class="row justify-content-center">
                  <div class="col-8"><h5>AFC South</h5></div>
                </div>
                {% for team in teams %}
                {% if team.conference == "AFC" and team.division == "South" %}
                <button id="{{ team.key }}" class="btn btn-small text-white" name="team" value="{{ team.key }}">
                  <div class="row" >
                    <div class="col-4"><img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" class="img-fluid"></div>
                    <div class="col-8 text-start align-self-center">{{ team.name }}</div>
                  </div>
                </button>
                {% endif %}
                {% endfor %}
              </div>
              <!-- AFC West -->
              <div class="col-3">
                <div class="row justify-content-center">
                  <div class="col-8"><h5>AFC West</h5></div>
                </div>
                {% for team in teams %}
                {% if team.conference == "AFC" and team.division == "West" %}
                <button id="{{ team.key }}" class="btn btn-small text-white" name="team" value="{{ team.key }}">
                  <div class="row" >
                    <div class="col-4"><img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" class="img-fluid"></div>
                    <div class="col-8 text-start align-self-center">{{ team.name }}</div>
                  </div>
                </button>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <!-- NFC Teams -->
            <div class="row m-2">
              <!-- NFC North -->
              <div class="col-3">
                <div class="row justify-content-center">
                  <div class="col-8"><h5>NFC North</h5></div>
                </div>
                {% for team in teams %}
                {% if team.conference == "NFC" and team.division == "North" %}
                <button id="{{ team.key }}" class="btn btn-small text-white" name="team" value="{{ team.key }}">
                  <div class="row" >
                    <div class="col-4"><img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" class="img-fluid"></div>
                    <div class="col-8 text-start align-self-center">{{ team.name }}</div>
                  </div>
                </button>
                {% endif %}
                {% endfor %}
              </div>
              <!-- NFC East -->
              <div class="col-3">
                <div class="row justify-content-center">
                  <div class="col-8"><h5>NFC East</h5></div>
                </div>
                {% for team in teams %}
                {% if team.conference == "NFC" and team.division == "East" %}
                <button id="{{ team.key }}" class="btn btn-small text-white" name="team" value="{{ team.key }}">
                  <div class="row" >
                    <div class="col-4"><img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" class="img-fluid"></div>
                    <div class="col-8 text-start align-self-center">{{ team.name }}</div>
                  </div>
                </button>
                {% endif %}
                {% endfor %}
              </div>
              <!-- NFC South -->
              <div class="col-3">
                <div class="row justify-content-center">
                  <div class="col-8"><h5>NFC South</h5></div>
                </div>
                {% for team in teams %}
                {% if team.conference == "NFC" and team.division == "South" %}
                <button id="{{ team.key }}" class="btn btn-small text-white" name="team" value="{{ team.key }}">
                  <div class="row" >
                    <div class="col-4"><img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" class="img-fluid"></div>
                    <div class="col-8 text-start align-self-center">{{ team.name }}</div>
                  </div>
                </button>
                {% endif %}
                {% endfor %}
              </div>
              <!-- NFC West -->
              <div class="col-3">
                <div class="row justify-content-center">
                  <div class="col-8"><h5>NFC West</h5></div>
                </div>
                {% for team in teams %}
                {% if team.conference == "NFC" and team.division == "West" %}
                <button id="{{ team.key }}" class="btn btn-small text-white" name="team" value="{{ team.key }}">
                  <div class="row" >
                    <div class="col-4"><img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" class="img-fluid"></div>
                    <div class="col-8 text-start align-self-center">{{ team.name }}</div>
                  </div>
                </button>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            </form>
          </div>
        </li>
        <!-- Settings Dropdown -->
        <li class="nav-item dropdown dropdown-dark">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Account</a></li>
            <li><a class="dropdown-item" href="{{ url_for('database') }}">Database</a></li>
            <li><a class="dropdown-item" href="{{ url_for('scoring') }}">Scoring</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


{% block content %}
{% endblock %}

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/sortableTables.js') }}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  <div id="playerCard" class="modal fade" role="dialog" data-bs-toggle="modal" data-bs-target="#playerCard">
    <div class="modal-dialog modal-lg bg-dark text-white" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-body bg-dark">
          <div id="playerCardContainer" class="container">
            <div class="row">
              <div class="col-6 align-self-center">
                  <div class="row text-center">
                    <h3 id="playerCardName"></h3>
                  </div>
                  <div class="row text-center">
                    <p id="playerCardInfo"></p>
                  </div>
                  <div class="row text-center">
                    <p id="playerCardExperience"></p>
                  </div>
                  <div class="row text-center">
                    <div id="playerCardStatus"></div>
                  </div>
                  <div class="row text-center mt-2">
                    <div id="playerCardLogo"></div>
                  </div>
              </div>
              <div class="col-6 mt-2 text-center align-self-end">
                <div id="playerCardPic"></div>
              </div>
            </div>
            <div class="row mt-4">
              <button class="btn active btn-secondary position-relative" style="pointer-events: none">
                <div class="row mt-2">
                  <div class="col"><div class="row"><h4><strong id="stat1"></strong></h4></div><div class="row"><small id="playerLbl1"></small></div></div>
                  <div class="col"><div class="row"><h4><strong id="stat2"></strong></h4></div><div class="row"><small id="playerLbl2"></small></div></div>
                  <div class="col"><div class="row"><h4><strong id="stat3"></strong></h4></div><div class="row"><small id="playerLbl3"></small></div></div>
                  <div class="col"><div class="row"><h4><strong id="stat4"></strong></h4></div><div class="row"><small id="playerLbl4"></small></div></div>
                  <div class="col"><div class="row"><h4><strong id="stat5"></strong></h4></div><div class="row"><small>FPS</small></div></div>
                </div>
                <span class="position-absolute top-0 start-50 translate-middle badge text-dark bg-light"><small>2021 Preseason Stats</small></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
<script>

    // Set default number of entries to display to 'ALL"
    //$(document).ready(function(){
    //  $('#roster').DataTable({
    //    "lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]]
    //  });
    //});

    // Disable filtered position button
    $(document).ready(function(){
      $("#{{ position }}").prop("disabled",true);
    });

    // Show Player Modal on table row click
    $(function(){
      $('#playerCard').modal({
        keyboard: true,
        backdrop: "static",
        show: false,
      }).on('show', function () {
    });

    function getPlayerCard(ID) {

     $.ajax({
          url: "/player",
          type: "get",
          data: {id: ID},
          success: function(player){
            $('#playerCardPic').html(player.cutout);
            $('#playerCardInfo').html(player.position+' • '+player.team_name+' • '+player.experience_string);
            $('#playerCardName').html(player.name);
            $('#playerCardStatus').html(player.status_string);
            $('#playerCardLogo').html(player.logo);
            if(player['position'] == "QB"){
              $('#playerLbl1').html("YDS");
              $('#playerLbl2').html("TD");
              $('#playerLbl3').html("INT");
              $('#playerLbl4').html("RTG");
              if (player.passAtts) {
                $('#stat1').html(player.passYDs);
                $('#stat2').html(player.passTDs);
                $('#stat3').html(player.passINTs);
                $('#stat4').html(player.passRTG.toFixed(1));
                $('#stat5').html(player.FPs.toFixed(1));
                } else {
                $('#stat1').html("-");
                $('#stat2').html("-");
                $('#stat3').html("-");
                $('#stat4').html("-");
                $('#stat5').html("-");
                }
            }
            else if(player['position'] == "RB"){
              $('#playerLbl1').html("ATT");
              $('#playerLbl2').html("YDS");
              $('#playerLbl3').html("TD");
              $('#playerLbl4').html("AVG");
              if (player.rushAtts) {
                $('#stat1').html(player.rushAtts);
                $('#stat2').html(player.rushYDs);
                $('#stat3').html(player.rushTDs);
                var AVG = player.rushYDs/player.rushAtts
                $('#stat4').html(AVG.toFixed(1));
                $('#stat5').html(player.FPs.toFixed(1));
                } else {
                $('#stat1').html("-");
                $('#stat2').html("-");
                $('#stat3').html("-");
                $('#stat4').html("-");
                $('#stat5').html("-");
                }
            }
            else if(player['position'] == "K"){
              $('#playerLbl1').html("FG%");
              $('#playerLbl2').html("XP%");
              $('#playerLbl3').html("LNG");
              $('#playerLbl4').html("PTS");
            }
            else{
              $('#playerLbl1').html("REC");
              $('#playerLbl2').html("YDS");
              $('#playerLbl3').html("TD");
              $('#playerLbl4').html("AVG");
              if (player.recs) {
                $('#stat1').html(player.recs);
                $('#stat2').html(player.recYDs);
                $('#stat3').html(player.recTDs);
                var AVG = player.recYDs/player.recs
                $('#stat4').html(AVG.toFixed(1));
                $('#stat5').html(player.FPs.toFixed(1));
                } else {
                $('#stat1').html("-");
                $('#stat2').html("-");
                $('#stat3').html("-");
                $('#stat4').html("-");
                $('#stat5').html("-");
                }
            }
           }
          });
        $('#playerCard').modal('toggle');

    }

    $(".player-btn").on('click', function(){
        var ID = $(this).data('id');
        console.log(ID);
        getPlayerCard(ID);
    });


    $(".player-table").find('tr[data-id]').on('click', function(){
        var ID = $(this).data('id');
        console.log(ID);
        getPlayerCard(ID);
      });

    //$("#closeBtnModal").click(function(){
    //  $('#playerCard').modal("hide");
    //  });
    });

  //$("#QB").click(function(){
  //  var table = document.getElementById("roster");
  //  for (var i = 0, row; row = table.rows[i]; i++) {
  //      if (row.cells[2].innerHTML != "QB") {
  //        row.setAttribute("style", "display:none;");
  //      } else {
  //        row.setAttribute("style", "visibility: visible;");
  //      }
  //   }
  //});

 </script>
<style>
.bgcolor1{
  background: rgb(122, 187, 129)
}
.bgcolor2{
  background: rgb(129, 189, 130)
}
.bgcolor3{
  background: rgb(137, 192, 130)
}
.bgcolor4{
  background: rgb(145, 195, 132)
}
.bgcolor5{
  background: rgb(153, 198, 133)
}
.bgcolor6{
  background: rgb(161, 201, 134)
}
.bgcolor7{
  background: rgb(169, 205, 135)
}
.bgcolor8{
  background: rgb(178, 208,	136)
}
.bgcolor9{
  background: rgb(186, 211, 137)
}
.bgcolor10{
  background: rgb(195, 214, 139)
}
.bgcolor11{
  background: rgb(203, 217, 139)
}
.bgcolor12{
  background: rgb(212, 219, 141)
}
.bgcolor13{
  background: rgb(220, 223, 141)
}
.bgcolor14{
  background: rgb(229, 226, 143)
}
.bgcolor15{
  background: rgb(238	229	144)
}
.bgcolor16{
  background: rgb(247, 232, 145)
}
.bgcolor17{
  background: rgb(252, 231, 146)
}
.bgcolor18{
  background: rgb(251, 223, 143)
}
.bgcolor19{
  background: rgb(249, 215, 140)
}
.bgcolor20{
  background: rgb(247, 207, 138)
}
.bgcolor21{
  background: rgb(245, 199, 136)
}
.bgcolor22{
  background: rgb(244, 191, 134)
}
.bgcolor23{
  background: rgb(243, 183, 131)
}
.bgcolor24{
  background: rgb(241, 175, 129)
}
.bgcolor25{
  background: rgb(240, 167, 127)
}
.bgcolor26{
  background: rgb(239, 160, 125)
}
.bgcolor27{
  background: rgb(238, 151, 123)
}
.bgcolor28{
  background: rgb(236, 144, 120)
}
.bgcolor29{
  background: rgb(235, 137, 118)
}
.bgcolor30{
  background: rgb(234, 129, 116)
}
.bgcolor31{
  background: rgb(233, 121, 114)
}
.bgcolor32{
  background: rgb(232, 113, 112)
}

</style>
</html>
