{% extends 'base.html' %}
{% block title %}
    {{ matchup.home_team.name }} vs. {{matchup.away_team.name }}
{% endblock %}
{% block content %}
<div class="container mt-4 pt-4">
    <form action="{{ url_for('team') }}" method="GET">
    <div class="row mt-4 justify-content-center text-white">
        <div class="col-5">
            <div class="row">
                <div class="col-6 align-self-center">
                    <div class="row"><small class="text-end">{{ matchup.home_team.location}}</small></div>
                    <div class="row"><h2 class="text-end text-uppercase">{{ matchup.home_team.name }}</h2></div>
                    {% if matchup.preseason %}
                    <div class="row"><small class="text-end font-weight-light">{{ matchup.home_team.preseason_wins }}-{{matchup.home_team.preseason_loses}}</small></div>
                    {% else %}
                    <div class="row"><small class="text-end font-weight-light">{{ matchup.home_team.wins }}-{{matchup.home_team.loses}}</small></div>
                    {% endif %}
                </div>
                <div class="col-4 align-self-center text-center">
                    <button id="{{ matchup.home_team.key }}" class="btn btn-dark btn-small" name="team" value="{{ matchup.home_team.key }}">
                        <img src="{{ url_for('static', filename='logos/'+matchup.home_team.key+'.png') }}" class="img-fluid">
                    </button>
                </div>
                <div class="col-2 align-self-center text-center">
                    {% if matchup.winner == matchup.home_team.key %}
                    <h2><strong>• {{ matchup.home_team_score }}</strong></h2>
                    {% else %}
                    <h2>{{ matchup.home_team_score }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-2 align-self-center">
            <div class="row"><small class="text-center font-weight-light">Week {{matchup.week }}</small></div>
            <div class="row"><small class="text-center font-weight-light"><strong>FINAL</strong></small></div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-2 align-self-center text-center">
                    {% if matchup.winner == matchup.away_team.key %}
                    <h2><strong>• {{ matchup.away_team_score }}</strong></h2>
                    {% else %}
                    <h2>{{ matchup.away_team_score }}</h2>
                    {% endif %}
                </div>
                <div class="col-4 text-center">
                    <button id="{{ matchup.away_team.key }}" class="btn btn-dark btn-small" name="team" value="{{ matchup.away_team.key }}">
                        <img src="{{ url_for('static', filename='logos/'+matchup.away_team.key+'.png') }}" class="img-fluid">
                    </button>
                </div>
                <div class="col-6 align-self-center">
                    <div class="row"><small class="text-start">{{ matchup.away_team.location}}</small></div>
                    <div class="row"><h2 class="text-start text-uppercase">{{ matchup.away_team.name }}</h2></div>
                    {% if matchup.preseason %}
                    <div class="row"><small class="text-start font-weight-light">{{ matchup.away_team.preseason_wins }}-{{matchup.away_team.preseason_loses}}</small></div>
                    {% else %}
                    <div class="row"><small class="text-start font-weight-light">{{ matchup.away_team.wins }}-{{matchup.away_team.loses}}</small></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- Content -->
    <div class="container mt-2 text-white">
        <div class="row">
            <!-- Left Side -->
            <div class="col-3">
                <!-- Line Score -->
                <div class="row mt-2">
                    <div class="card bg-dark">
                        <div class="card-title text-center">Line Score</div>
                        <div class="card-body">
                            <table class="table table-sm table-dark text-white">
                                <thead>
                                    {% if als|length > 4 %}
                                    <tr><th></th><th>1</th><th>2</th><th>3</th><th>4</th><th>OT</th><th>T</th></tr>
                                    {% else %}
                                    <tr><th></th><th>1</th><th>2</th><th>3</th><th>4</th><th>T</th></tr>
                                    {% endif %}
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ matchup.home_team.key }}</td>
                                    {% for score in hls %}
                                    <td>{{ score }}</td>
                                    {% endfor %}
                                    <td><strong>{{ matchup.home_team_score }}</strong></td>
                                </tr>
                                <tr>
                                    <td>{{ matchup.away_team.key }}</td>
                                    {% for score in als %}
                                    <td>{{ score }}</td>
                                    {% endfor %}
                                    <td><strong>{{ matchup.away_team_score }}</strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Game Leaders -->
                <div class="row mt-2">
                    <div class="card bg-dark">
                        <div class="card-title text-center">Game Leaders</div>
                        <div class="card-body">
                            <!-- Passing Leader -->
                            <div class="row mt-2">
                                <button data-id="{{ passLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                    <div class="row">
                                        <div class="col-6 position-relative">
                                            <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + passLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                        </div>
                                        <div class="col-6">
                                            <div class="row mt-2 text-end"><small>{{ passLeader.fname[0] }}. {{ passLeader.lname }}</small></div>
                                            <div class="row mt-1 text-end"><small class="text-muted">{{ passLeaderStats.passComps }}-{{ passLeaderStats.passAtts }}, {{ passLeaderStats.passYDs }} YDs, {{ passLeaderStats.passTDs }} TDs</small></div>
                                        </div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                                </button>
                            </div>
                            <!-- Rushing Leader -->
                            <div class="row mt-2">
                                <button data-id="{{ rushLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + rushLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                        </div>
                                        <div class="col-6">
                                            <div class="row mt-2 text-end"><small>{{ rushLeader.fname[0] }}. {{ rushLeader.lname }}</small></div>
                                            <div class="row mt-1 text-end"><small class="text-muted">{{ rushLeaderStats.rushAtts }} CAR, {{ rushLeaderStats.rushYDs }} YDs, {{ rushLeaderStats.rushTDs }} TDs</small></div>
                                        </div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                                </button>
                            </div>
                            <!-- Receiving Leader -->
                            <div class="row mt-2">
                                <button data-id="{{ recLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + recLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                        </div>
                                        <div class="col-6">
                                            <div class="row mt-2 text-end"><small>{{ recLeader.fname[0] }}. {{ recLeader.lname }}</small></div>
                                            <div class="row mt-1 text-end"><small class="text-muted">{{ recLeaderStats.recs }} REC, {{ recLeaderStats.recYDs }} YDs, {{ recLeaderStats.recTDs }} TDs</small></div>
                                        </div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Side -->
            <div class="col-9">
                <!-- Box Score -->
                <div class="row mt-2">
                    <div class="card bg-dark">
                        <div class="card-title text-center">Box Score</div>
                        <div class="card-body">
                            <!-- Passing -->
                            <div class="row">
                                <!-- Home Passing -->
                                <div class="col-6">
                                    <div class="row text-start"><h6>{{ matchup.home_team.location }} Passing</h6></div>
                                    <table class="player-table table table-dark table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <td class="text-start"></td>
                                                <td class="text-start">C/ATT</td>
                                                <td class="text-start">YDS</td>
                                                <td class="text-start">AVG</td>
                                                <td class="text-start">TD</td>
                                                <td class="text-start">INT</td>
                                                <td class="text-start">SACKS</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set pass = namespace(passComps=0, passAtts=0, passYDs=0, passTDs=0, passINTs=0, passSacks=0, passSackYDs=0) %}
                                            {% for line in pass_stats %}
                                            {% if line.team_id == matchup.home_team.ID %}
                                                {% set pass.passComps = pass.passComps + line.passComps %}
                                                {% set pass.passAtts = pass.passAtts + line.passAtts %}
                                                {% set pass.passYDs = pass.passYDs + line.passYDs %}
                                                {% set pass.passTDs = pass.passTDs + line.passTDs %}
                                                {% set pass.passINTs = pass.passINTs + line.passINTs %}
                                                {% set pass.passSacks = pass.passSacks + line.passSacks %}
                                                {% set pass.passSackYDs = pass.passSackYDs + line.passSackYDs %}
                                                <tr data-id="{{ line.player.ID }}">
                                                    <td class="text-start">{{line.player.fname[0] }}. {{ line.player.lname }}</td>
                                                    <td class="text-start">{{ line.passComps }}/{{ line.passAtts }}</td>
                                                    <td class="text-start">{{ line.passYDs }}</td>
                                                    <td class="text-start">{{'%0.1f'| format(line.passYDs/line.passComps|float)}}</td>
                                                    <td class="text-start">{{ line.passTDs }}</td>
                                                    <td class="text-start">{{ line.passINTs }}</td>
                                                    <td class="text-start">{{ line.passSacks }}-{{ line.passSackYDs }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="text-start">Team Totals</td>
                                                <td class="text-start">{{ pass.passComps }}/{{ pass.passAtts }}</td>
                                                <td class="text-start">{{ pass.passYDs }}</td>
                                                <td class="text-start">{{'%0.1f'| format(pass.passYDs/pass.passComps)}}</td>
                                                <td class="text-start">{{ pass.passTDs }}</td>
                                                <td class="text-start">{{ pass.passINTs }}</td>
                                                <td class="text-start">{{ pass.passSacks }}-{{ pass.passSackYDs }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- Away Passing -->
                                <div class="col-6">
                                    <div class="row text-start"><h6>{{ matchup.away_team.location }} Passing</h6></div>
                                    <table class="player-table table table-dark table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <td class="text-start"></td>
                                                <td class="text-start">C/ATT</td>
                                                <td class="text-start">YDS</td>
                                                <td class="text-start">AVG</td>
                                                <td class="text-start">TD</td>
                                                <td class="text-start">INT</td>
                                                <td class="text-start">SACKS</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set pass = namespace(passComps=0, passAtts=0, passYDs=0, passTDs=0, passINTs=0, passSacks=0, passSackYDs=0) %}
                                            {% for line in pass_stats %}
                                            {% if line.team_id == matchup.away_team.ID %}
                                                {% set pass.passComps = pass.passComps + line.passComps %}
                                                {% set pass.passAtts = pass.passAtts + line.passAtts %}
                                                {% set pass.passYDs = pass.passYDs + line.passYDs %}
                                                {% set pass.passTDs = pass.passTDs + line.passTDs %}
                                                {% set pass.passINTs = pass.passINTs + line.passINTs %}
                                                {% set pass.passSacks = pass.passSacks + line.passSacks %}
                                                {% set pass.passSackYDs = pass.passSackYDs + line.passSackYDs %}
                                                <tr data-id="{{ line.player.ID }}">
                                                    <td class="text-start">{{line.player.fname[0] }}. {{ line.player.lname }}</td>
                                                    <td class="text-start">{{ line.passComps }}/{{ line.passAtts }}</td>
                                                    <td class="text-start">{{ line.passYDs }}</td>
                                                    <td class="text-start">{{'%0.1f'| format(line.passYDs/line.passComps|float)}}</td>
                                                    <td class="text-start">{{ line.passTDs }}</td>
                                                    <td class="text-start">{{ line.passINTs }}</td>
                                                    <td class="text-start">{{ line.passSacks }}-{{ line.passSackYDs }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="text-start">Team Totals</td>
                                                <td class="text-start">{{ pass.passComps }}/{{ pass.passAtts }}</td>
                                                <td class="text-start">{{ pass.passYDs }}</td>
                                                <td class="text-start">{{'%0.1f'| format(pass.passYDs/pass.passComps)}}</td>
                                                <td class="text-start">{{ pass.passTDs }}</td>
                                                <td class="text-start">{{ pass.passINTs }}</td>
                                                <td class="text-start">{{ pass.passSacks }}-{{ pass.passSackYDs }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <!-- Rushing -->
                            <div class="row">
                                <!-- Home Rushing -->
                                <div class="col-6">
                                    <div class="row text-start"><h6> {{ matchup.home_team.location }} Rushing </h6></div>
                                    <table class="player-table table table-sm table-dark table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <td class="text-start"></td>
                                                <td class="text-start">CAR</td>
                                                <td class="text-start">YDS</td>
                                                <td class="text-start">AVG</td>
                                                <td class="text-start">TD</td>
                                                <td class="text-start">LONG</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% set rush = namespace(rushAtts=0, rushYDs=0, rushTDs=0, rushLng=0) %}
                                        {% for line in rush_stats %}
                                            {% if line.team_id == matchup.home_team.ID %}
                                                {% set rush.rushAtts = rush.rushAtts + line.rushAtts %}
                                                {% set rush.rushYDs = rush.rushYDs + line.rushYDs %}
                                                {% set rush.rushTDs = rush.rushTDs + line.rushTDs %}
                                                {% if line.rushLng > rush.rushLng %}
                                                    {% set rush.rushLng = line.rushLng %}
                                                {% endif %}
                                                <tr data-id="{{ line.player.ID }}">
                                                    <td class="text-start">{{ line.player.fname[0] }}. {{ line.player.lname }}</td>
                                                    <td class="text-start">{{ line.rushAtts }}</td>
                                                    <td class="text-start">{{ line.rushYDs }}</td>
                                                    <td class="text-start">{{'%0.1f'| format(line.rushYDs/line.rushAtts|float)}}</td>
                                                    <td class="text-start">{{ line.rushTDs }}</td>
                                                    <td class="text-start">{{ line.rushLng }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="text-start">Team Totals</td>
                                                <td class="text-start">{{ rush.rushAtts }}</td>
                                                <td class="text-start">{{ rush.rushYDs }}</td>
                                                <td class="text-start">{{'%0.1f'| format(rush.rushYDs/rush.rushAtts)}}</td>
                                                <td class="text-start">{{ rush.rushTDs }}</td>
                                                <td class="text-start">{{ rush.rushLng }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- Away Rushing -->
                                <div class="col-6">
                                    <div class="row text-start"><h6> {{ matchup.away_team.location }} Rushing </h6></div>
                                    <table class="player-table table table-sm table-dark table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <td class="text-start"></td>
                                                <td class="text-start">CAR</td>
                                                <td class="text-start">YDS</td>
                                                <td class="text-start">AVG</td>
                                                <td class="text-start">TD</td>
                                                <td class="text-start">LONG</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% set rush = namespace(rushAtts=0, rushYDs=0, rushTDs=0, rushLng=0) %}
                                        {% for line in rush_stats %}
                                            {% if line.team_id == matchup.away_team.ID %}
                                                {% set rush.rushAtts = rush.rushAtts + line.rushAtts %}
                                                {% set rush.rushYDs = rush.rushYDs + line.rushYDs %}
                                                {% set rush.rushTDs = rush.rushTDs + line.rushTDs %}
                                                {% if line.rushLng > rush.rushLng %}
                                                    {% set rush.rushLng = line.rushLng %}
                                                {% endif %}
                                                <tr data-id="{{ line.player.ID }}">
                                                    <td class="text-start">{{ line.player.fname[0] }}. {{ line.player.lname }}</td>
                                                    <td class="text-start">{{ line.rushAtts }}</td>
                                                    <td class="text-start">{{ line.rushYDs }}</td>
                                                    <td class="text-start">{{'%0.1f'| format(line.rushYDs/line.rushAtts|float)}}</td>
                                                    <td class="text-start">{{ line.rushTDs }}</td>
                                                    <td class="text-start">{{ line.rushLng }}</td>
                                                </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="text-start">Team Totals</td>
                                                <td class="text-start">{{ rush.rushAtts }}</td>
                                                <td class="text-start">{{ rush.rushYDs }}</td>
                                                <td class="text-start">{{'%0.1f'| format(rush.rushYDs/rush.rushAtts)}}</td>
                                                <td class="text-start">{{ rush.rushTDs }}</td>
                                                <td class="text-start">{{ rush.rushLng }}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <!-- Receiving -->
                            <div class="row">
                                <!-- Home Receiving -->
                                <div class="col-6">
                                    <div class="row text-start"><h6> {{ matchup.home_team.location }} Receiving </h6></div>
                                    <table class="player-table table table-sm table-dark table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <td class="text-start"></td>
                                                <td class="text-start">REC</td>
                                                <td class="text-start">YDS</td>
                                                <td class="text-start">AVG</td>
                                                <td class="text-start">TD</td>
                                                <td class="text-start">LONG</td>
                                                <td class="text-start">TGTS</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% set rec = namespace(recs=0, recYDs=0, recTDs=0, recLng=0, recTGTS=0) %}
                                        {% for line in rec_stats %}
                                            {% if line.team_id == matchup.home_team.ID %}
                                                {% set rec.recs = rec.recs + line.recs %}
                                                {% set rec.recYDs = rec.recYDs + line.recYDs %}
                                                {% set rec.recTDs = rec.recTDs + line.recTDs %}
                                                {% set rec.recTGTS = rec.recTGTS + line.recTGTS %}
                                                {% if line.recLng > rec.recLng %}
                                                    {% set rec.recLng = line.recLng %}
                                                {% endif %}
                                                <tr data-id="{{ line.player.ID }}">
                                                    <td class="text-start">{{ line.player.fname[0] }}. {{ line.player.lname }}</td>
                                                    <td class="text-start">{{ line.recs }}</td>
                                                    <td class="text-start">{{ line.recYDs }}</td>
                                                    {% if line.recs > 0 %}
                                                    <td class="text-start">{{'%0.1f'| format(line.recYDs/line.recs|float)}}</td>
                                                    {% else %}
                                                    <td class="text-start">0.0</td>
                                                    {% endif %}
                                                    <td class="text-start">{{ line.recTDs }}</td>
                                                    <td class="text-start">{{ line.recLng }}</td>
                                                    <td class="text-start">{{ line.recTGTS }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr data-id="">
                                                    <td class="text-start">Team Totals</td>
                                                    <td class="text-start">{{ rec.recs }}</td>
                                                    <td class="text-start">{{ rec.recYDs }}</td>
                                                    <td class="text-start">{{'%0.1f'| format(rec.recYDs/rec.recs|float) }}</td>
                                                    <td class="text-start">{{ rec.recTDs }}</td>
                                                    <td class="text-start">{{ rec.recLng }}</td>
                                                    <td class="text-start">{{ rec.recTGTS }}</td>
                                                </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- Away Receiving -->
                                <div class="col-6">
                                    <div class="row text-start"><h6> {{ matchup.away_team.location }} Receiving </h6></div>
                                    <table class="player-table table table-sm table-dark table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <td class="text-start"></td>
                                                <td class="text-start">REC</td>
                                                <td class="text-start">YDS</td>
                                                <td class="text-start">AVG</td>
                                                <td class="text-start">TD</td>
                                                <td class="text-start">LONG</td>
                                                <td class="text-start">TGTS</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% set rec = namespace(recs=0, recYDs=0, recTDs=0, recLng=0, recTGTS=0) %}
                                        {% for line in rec_stats %}
                                            {% if line.team_id == matchup.away_team.ID %}
                                                {% set rec.recs = rec.recs + line.recs %}
                                                {% set rec.recYDs = rec.recYDs + line.recYDs %}
                                                {% set rec.recTDs = rec.recTDs + line.recTDs %}
                                                {% set rec.recTGTS = rec.recTGTS + line.recTGTS %}
                                                {% if line.recLng > rec.recLng %}
                                                    {% set rec.recLng = line.recLng %}
                                                {% endif %}
                                                <tr data-id="{{ line.player.ID }}">
                                                    <td class="text-start">{{ line.player.fname[0] }}. {{ line.player.lname }}</td>
                                                    <td class="text-start">{{ line.recs }}</td>
                                                    <td class="text-start">{{ line.recYDs }}</td>
                                                    {% if line.recs > 0 %}
                                                    <td class="text-start">{{'%0.1f'| format(line.recYDs/line.recs|float)}}</td>
                                                    {% else %}
                                                    <td class="text-start">0.0</td>
                                                    {% endif %}
                                                    <td class="text-start">{{ line.recTDs }}</td>
                                                    <td class="text-start">{{ line.recLng }}</td>
                                                    <td class="text-start">{{ line.recTGTS }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr data-id="">
                                                    <td class="text-start">Team Totals</td>
                                                    <td class="text-start">{{ rec.recs }}</td>
                                                    <td class="text-start">{{ rec.recYDs }}</td>
                                                    <td class="text-start">{{'%0.1f'| format(rec.recYDs/rec.recs|float) }}</td>
                                                    <td class="text-start">{{ rec.recTDs }}</td>
                                                    <td class="text-start">{{ rec.recLng }}</td>
                                                    <td class="text-start">{{ rec.recTGTS }}</td>
                                                </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}