{% extends 'base.html' %}
{% block title %}
    Database Management
{% endblock %}
{% block content %}
<div class="container mt-4 pt-4">
    <div class="container text-white">
        <h2 align="center">Database Management</h2>
    </div>
    <div class="container mt-2 text-white">
        <div class="row justify-content-center">
            <!-- Content -->
            <div class="col-9">
                <form>
                    <!-- Graphics Utils -->
                    <div class="row mt-4">
                        <div class="row"><h4>Graphics / UI</h4></div>
                        <div class="card bg-dark border-light">
                            <div class="card-body">
                                  <ul class="list-group list-group-flush">
                                    <!-- Get Headshots -->
                                    <li class="list-group-item bg-dark text-white">
                                        <div class="row">
                                            <div class="col-9">
                                            <div class="row text-start fw-bold">Get Headshots</div>
                                            <div class="row text-start">Checks to see if player headshots exist, if they don't will try to download them.</div>
                                        </div>
                                        <div class="col-3 text-end align-self-center">
                                            <button id="getHeadshots" class="btn btn-small btn-secondary">
                                                <span id="getHeadshotsSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status"></span>
                                                <span id="getHeadshotsText"> Get Headshots </span>
                                            </button>
                                        </div>
                                        </div>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Update Utils -->
                    <div class="row mt-4">
                        <div class="row"><h4>Updates</h4></div>
                        <div class="card bg-dark border-light">
                            <div class="card-body">
                                  <ul class="list-group list-group-flush">
                                    <!-- Update Rosters -->
                                    <li class="list-group-item bg-dark text-white">
                                        <div class="row">
                                            <div class="col-9">
                                            <div class="row text-start fw-bold">Update Rosters</div>
                                            <div class="row text-start">Updates team rosters.</div>
                                        </div>
                                        <div class="col-3 text-end align-self-center">
                                            <button id="updateRosters" class="btn btn-small btn-secondary">
                                                <span id="updateRostersSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status"></span>
                                                <span id="updateRostersText"> Update Rosters </span>
                                            </button>
                                        </div>
                                        </div>
                                    </li>
                                    <!-- Update Status -->
                                    <li class="list-group-item bg-dark text-white">
                                        <div class="row">
                                            <div class="col-9">
                                            <div class="row text-start fw-bold">Update Status</div>
                                            <div class="row text-start">Updates player statuses.</div>
                                        </div>
                                        <div class="col-3 text-end align-self-center">
                                            <button id="updateStatus" class="btn btn-small btn-secondary">
                                                <span id="updateStatusSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status"></span>
                                                <span id="updateStatusText"> Update Statuses </span>
                                            </button>
                                        </div>
                                        </div>
                                    </li>
                                    <!-- Update Stats -->
                                    <li class="list-group-item bg-dark text-white">
                                        <div class="row">
                                            <div class="col-9">
                                            <div class="row text-start fw-bold">Update Stats</div>
                                            <div class="row text-start">Updates player stats/statuses, games, and team stats/rankings.</div>
                                        </div>
                                        <div class="col-3 text-end align-self-center">
                                            <button id="updateStats" class="btn btn-small btn-secondary">
                                                <span id="updateStatsSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status"></span>
                                                <span id="updateStatsText"> Update Stats </span>
                                            </button>
                                        </div>
                                        </div>
                                    </li>
                                    <!-- Update Entire Database -->
                                    <li class="list-group-item bg-dark text-white">
                                        <div class="row">
                                            <div class="col-9">
                                            <div class="row text-start fw-bold">Update Entire Database</div>
                                            <div class="row text-start">Updates the database in its entirety. This includes rosters, player stats/statuses, games, fantasy points, and team stats/rankings.</div>
                                        </div>
                                        <div class="col-3 text-end align-self-center">
                                            <button id="updateDatabase" class="btn btn-small btn-secondary">
                                                <span id="updateDatabaseSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status"></span>
                                                <span id="updateDatabaseText"> Update Database </span>
                                            </button>
                                        </div>
                                        </div>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Danger Zone -->
                    <div class="row mt-4">
                        <div class="row"><h4>Danger Zone</h4></div>
                        <div class="card bg-dark border-danger">
                            <div class="card-body">
                                  <ul class="list-group list-group-flush">
                                    <!-- Rebuild Database -->
                                    <li class="list-group-item bg-dark text-white">
                                        <div class="row">
                                            <div class="col-9">
                                            <div class="row text-start fw-bold">Rebuild Database</div>
                                            <div class="row text-start">Rebuilds the database in its entirety.</div>
                                        </div>
                                        <div class="col-3 text-end align-self-center">
                                            <button id="rebuildDatabase" class="btn btn-small btn-danger">
                                                <span id="rebuildDatabaseSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status"></span>
                                                <span id="rebuildDatabaseText"> Rebuild Database </span>
                                            </button>
                                        </div>
                                        </div>
                                    </li>
                                    <!-- Delete Database -->
                                    <li class="list-group-item bg-dark text-white">
                                        <div class="row">
                                            <div class="col-9">
                                            <div class="row text-start fw-bold">Delete Database</div>
                                            <div class="row text-start">Deletes the database in its entirety. This cannot be reverted or undone.</div>
                                        </div>
                                        <div class="col-3 text-end align-self-center">
                                            <button id="deleteDatabase" class="btn btn-small btn-danger">
                                                <span id="deleteDatabaseSpinner" class="spinner-border spinner-border-sm visually-hidden" role="status"></span>
                                                <span id="deleteDatabaseText"> Delete Database </span>
                                            </button>
                                        </div>
                                        </div>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type=text/javascript>

        $(function() {
          $('#getHeadshots').on('click', function(e) {
            e.preventDefault()
            disableButtons()
            var button = document.getElementById("getHeadshots");
            var spinner = document.getElementById("getHeadshotsSpinner");
            $('#getHeadshotsText').html("Updating...");
            spinner.classList.remove("visually-hidden");
            $.ajax({
              url: "/getHeadshots",
              type: "get",
              success: function(player) {
                $('#getHeadshotsText').html("Get Headshots");
                spinner.classList.add("visually-hidden");
                enableButtons();
                }
            });
          });
        });

        $(function() {
          $('#updateRosters').on('click', function(e) {
            e.preventDefault()
            disableButtons()
            var button = document.getElementById("updateRosters");
            var spinner = document.getElementById("updateRostersSpinner");
            var text = document.getElementById("updateRostersText");
            $('#updateRostersText').html("Updating...");
            spinner.classList.remove("visually-hidden");
            $.ajax({
              url: "/updateRosters",
              type: "get",
              success: function(player) {
                $('#updateRostersText').html("Update Rosters");
                spinner.classList.add("visually-hidden");
                enableButtons();
                }
            });
          });
        });
        
        $(function() {
          $('#updateStatus').on('click', function(e) {
            e.preventDefault()
            disableButtons()
            var button = document.getElementById("updateStatus");
            var spinner = document.getElementById("updateStatusSpinner");
            var text = document.getElementById("updateStatusText");
            $('#updateStatusText').html("Updating...");
            spinner.classList.remove("visually-hidden");
            $.ajax({
              url: "/updateStatus",
              type: "get",
              success: function(player) {
                $('#updateStatusText').html("Update Statuses");
                spinner.classList.add("visually-hidden");
                enableButtons();
                }
            });
          });
        });
        
        $(function() {
          $('#updateStats').on('click', function(e) {
            e.preventDefault()
            disableButtons()
            var button = document.getElementById("updateStats");
            var spinner = document.getElementById("updateStatsSpinner");
            var text = document.getElementById("updateStatsText");
            $('#updateStatsText').html("Updating...");
            spinner.classList.remove("visually-hidden");
            $.ajax({
              url: "/updateStats",
              type: "get",
              success: function(player) {
                $('#updateStatsText').html("Update Stats");
                spinner.classList.add("visually-hidden");
                enableButtons();
                }
            });
          });
        });

        $(function() {
          $('#updateDatabase').on('click', function(e) {
            e.preventDefault()
            disableButtons()
            var button = document.getElementById("updateDatabase");
            var spinner = document.getElementById("updateDatabaseSpinner");
            var text = document.getElementById("updateDatabaseText");
            $('#updateDatabaseText').html("Updating...");
            spinner.classList.remove("visually-hidden");
            $.ajax({
              url: "/updateDatabase",
              type: "get",
              success: function(player) {
                $('#updateDatabaseText').html("Update Database");
                spinner.classList.add("visually-hidden");
                enableButtons();
                }
            });
          });
        });
        
        $(function() {
          $('#rebuildDatabase').on('click', function(e) {
            e.preventDefault()
            disableButtons()
            var button = document.getElementById("rebuildDatabase");
            var spinner = document.getElementById("rebuildDatabaseSpinner");
            var text = document.getElementById("rebuildDatabaseText");
            $('#rebuildDatabaseText').html("Updating...");
            spinner.classList.remove("visually-hidden");
            $.ajax({
              url: "/rebuildDatabase",
              type: "get",
              success: function(player) {
                $('#rebuildDatabaseText').html("Rebuild Database");
                spinner.classList.add("visually-hidden");
                enableButtons();
                }
            });
          });
        });
        
        $(function() {
          $('#deleteDatabase').on('click', function(e) {
            e.preventDefault()
            disableButtons()
            var button = document.getElementById("deleteDatabase");
            var spinner = document.getElementById("deleteDatabaseSpinner");
            var text = document.getElementById("deleteDatabaseText");
            $('#deleteDatabaseText').html("Updating...");
            spinner.classList.remove("visually-hidden");
            $.ajax({
              url: "/deleteDatabase",
              type: "get",
              success: function(player) {
                $('#deleteDatabaseText').html("Delete Database");
                spinner.classList.add("visually-hidden");
                enableButtons();
                }
            });
          });
        });

       function disableButtons() {
            var buttons = document.getElementsByTagName('button');
            for (let i = 0; i < buttons.length; i++) {
            let button = buttons[i];
            button.setAttribute("disabled", true);
            }
       };

       function enableButtons() {
            var buttons = document.getElementsByTagName('button');
            for (let i = 0; i < buttons.length; i++) {
            let button = buttons[i];
            button.removeAttribute("disabled");
            }
       };

</script>
<!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->

{% endblock %}