{% extends 'base.html' %}
{% block title %}
    {{ team.name }}-{{ team.league.name }}
{% endblock %}
{% block content %}
<div class="container mt-4 p-4 text-white">
    <div class="row text-white">
        <div class="card bg-dark">
            <div class="card-title text-center">Roster</div>
            <div class="card-body">
                <div class="row me-2 text-end">
                    <div class="col">
                        <button class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#addPlayerModal">Add Player</button>
                        <button class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#dropPlayerModal">Drop Player</button>
                    </div>
                </div>

                    <table class="table table-dark table-hover player-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-center" colspan="3">Passing</th>
                            <th class="text-center" colspan="3">Rushing</th>
                            <th class="text-center" colspan="4">Receiving</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-center">BYE</th>
                            <th class="text-end">Yds</th>
                            <th class="text-end">TD</th>
                            <th class="text-end">Int</th>
                            <th class="text-end">Att</th>
                            <th class="text-end">Yds</th>
                            <th class="text-end">TD</th>
                            <th class="text-end">Tgt</th>
                            <th class="text-end">Rec</th>
                            <th class="text-end">Yds</th>
                            <th class="text-end">TD</th>
                            <th class="text-end">FPs</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in roster %}
                            {% set player = Player.query.get(player) %}
                            <tr data-id="{{player.ID}}">
                                <!-- Button -->
                                <td class="col-1 align-middle" style="width: 6.25%">
                                    <div class="row">
                                        <button data-id="{{player.ID}}" class="rosterBtn btn btn-primary w-100 h-100" id="BN{{loop.index}}">BN</button>
                                    </div>
                                </td>
                                <!-- Empty Space -->
                                <td class="col-1" style="width: 3.125%"></td>
                                <!-- Player Image -->
                                <td class="col-1">
                                    <img src="{{ url_for('static', filename='headshots/'+player.ID|string+'.png') }}" class="img-fluid">
                                </td>
                                <!-- Player Info -->
                                <td class="col-2 align-middle" style="border-right: 1px solid white">
                                    <div class="row">
                                        <div class="col">
                                            {{player.name}} <span class="text-muted"><small><small>{{player.current_team.key}} • {{player.position}}</small></small></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {% set game = player.current_team.get_game(week) %}
                                            {% if player.current_team == game.home_team %}
                                                <small><small>{{ game.get_readable_date() }} vs. {{game.away_team.key}}</small></small>
                                            {% else %}
                                                <small><small>{{ game.get_readable_date() }} @ {{game.home_team.key}}</small></small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <!-- Player Bye Week -->
                                <td class="col-1 align-middle text-center" style="border-right: 1px solid white">
                                    {{player.current_team.bye}}
                                </td>
                                <!-- Player Stats -->
                                <!-- Player Fantasy Points -->
                                {% set stats = player.get_season_stats(preseason) %}
                                <td class="align-middle text-end">
                                    {% if stats.passYDs == 0 %} - {% else %} {{ stats.passYDs }} {% endif %}
                                </td>
                                <td class="align-middle text-end">
                                    {% if stats.passTDs == 0 %} - {% else %} {{ stats.passTDs }} {% endif %}
                                </td>
                                <td class="align-middle text-end" style="border-right: 1px solid white">
                                    {% if stats.passINTs == 0 %} - {% else %} {{ stats.passINTs }} {% endif %}
                                </td>
                                <td class="align-middle text-end">
                                    {% if stats.rushAtts == 0 %} - {% else %} {{ stats.rushAtts }} {% endif %}
                                </td>
                                <td class="align-middle text-end">
                                    {% if stats.rushYDs == 0 %} - {% else %} {{ stats.rushYDs }} {% endif %}
                                </td>
                                <td class="align-middle text-end" style="border-right: 1px solid white">
                                    {% if stats.rushTDs == 0 %} - {% else %} {{ stats.rushTDs }} {% endif %}
                                </td>
                                <td class="align-middle text-end">
                                    {% if stats.recTGTS == 0 %} - {% else %} {{ stats.recTGTS }} {% endif %}
                                </td>
                                <td class="align-middle text-end">
                                    {% if stats.recs == 0 %} - {% else %} {{ stats.recs }} {% endif %}
                                </td>
                                <td class="align-middle text-end">
                                    {% if stats.recYDs == 0 %} - {% else %} {{ stats.recYDs }} {% endif %}
                                </td>
                                <td class="align-middle text-end" style="border-right: 1px solid white">
                                    {% if stats.recTDs == 0 %} - {% else %} {{ stats.recTDs }} {% endif %}
                                </td>
                                <td class="align-middle text-end" style="border-right: 1px solid white">
                                    {% if stats.FPs == 0 %} - {% else %} {{ "%.2f"|format(stats.FPs) }} {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
<!-- Add Player Modal -->
<div class="modal fade" id="addPlayerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-lg bg-dark text-white">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title">Add Player</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary">ALL</button>
                      <button type="button" class="btn btn-primary">QB</button>
                      <button type="button" class="btn btn-primary">RB</button>
                      <button type="button" class="btn btn-primary">WR</button>
                      <button type="button" class="btn btn-primary">TE</button>
                      <button type="button" class="btn btn-primary">K</button>
                    </div>
                    <form action="{{ url_for('fantasy_team') }}" role="form" method="POST">
                        <table class="table table-dark table-hover" id="addPlayerTable">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Stats</th>
                                <th>FPS</th>
                            </tr>
                            </thead>
                            <tbody>
                        {% for player in players %}
                            <tr>
                                <td><button name="addPlayer" type="submit" class="btn text-success" value="{{team.ID}}-{{player.ID}}"><i class="bi bi-plus-circle-fill"></i></button></td>
                                <td data-id="{{player.ID}}" class="player-btn">{{player.name}} <span class="text-muted"><small><small>{{player.current_team.key}}•{{player.position}}</small></small></span></td>
                                <td data-id="{{player.ID}}" class="player-btn">STATS</td>
                                <td data-id="{{player.ID}}" class="player-btn">FPS</td>
                            </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
</div>
<!-- Drop Player Modal -->
<div class="modal fade" id="dropPlayerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-lg bg-dark text-white">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title">Add Player</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-primary">ALL</button>
                      <button type="button" class="btn btn-primary">QB</button>
                      <button type="button" class="btn btn-primary">RB</button>
                      <button type="button" class="btn btn-primary">WR</button>
                      <button type="button" class="btn btn-primary">TE</button>
                      <button type="button" class="btn btn-primary">K</button>
                    </div>
                    <form action="{{ url_for('fantasy_team') }}" role="form" method="POST">
                        <table class="table table-dark table-hover" id="dropPlayerTable">
                        {% for player in roster %}
                            {% set player = Player.query.get(player) %}
                            <tr>
                                <td><button name="dropPlayer" type="submit" class="btn text-danger" value="{{team.ID}}-{{player.ID}}"><i class="bi bi-dash-circle-fill"></i></button></td>
                                <td data-id="{{player.ID}}" class="player-btn">{{player.name}} <span class="text-muted"><small><small>{{player.current_team.key}}•{{player.position}}</small></small></span></td>
                                <td data-id="{{player.ID}}" class="player-btn">MATCHUP</td>
                                <td data-id="{{player.ID}}" class="player-btn">STATS</td>
                                <td data-id="{{player.ID}}" class="player-btn">FPS</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </form>
                </div>
            </div>
        </div>
</div>
<script>
    $(document).ready( function () {
        $('#addPlayerTable').DataTable();
    });

    $('.rosterBtn').click(function () {
        var ID = $(this).data('id');
        if(ID.length != 0){
            console.log(ID);
        }
        });


</script>
{% endblock %}