{% extends 'base.html' %}
{% block title %}
    {{ matchup.home_team.name }} vs. {{matchup.away_team.name }}
{% endblock %}
{% block content %}
<div class="container mt-4 pt-4">
    <!-- Header -->
    <form action="{{ url_for('team') }}" method="GET">
    <div class="mt-4 row justify-content-center text-white">
        <!-- Home Team Section -->
        <div class="col-5">
            <div class="row">
                <div class="col-8 align-self-center">
                    <div class="row"><small class="text-end">{{ matchup.home_team.location}}</small></div>
                    <div class="row"><h2 class="text-end text-uppercase">{{ matchup.home_team.name }}</h2></div>
                    {% if matchup.preseason %}
                        {% if matchup.home_team.preseason_ties %}
                        <div class="row"><small class="text-end font-weight-light">{{ matchup.home_team.preseason_wins }}-{{matchup.home_team.preseason_losses}}-{{matchup.home_team.preseason_ties}}</small></div>
                        {% else %}
                        <div class="row"><small class="text-end font-weight-light">{{ matchup.home_team.preseason_wins }}-{{matchup.home_team.preseason_losses}}</small></div>
                        {% endif %}
                    {% else %}
                        {% if matchup.home_team.ties %}
                        <div class="row"><small class="text-end font-weight-light">{{ matchup.home_team.wins }}-{{matchup.home_team.losses}}-{{matchup.home_team.ties}}</small></div>
                        {% else %}
                        <div class="row"><small class="text-end font-weight-light">{{ matchup.home_team.wins }}-{{matchup.home_team.losses}}</small></div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-4 text-center">
                    <button id="{{ matchup.home_team.key }}" class="btn btn-dark btn-small" name="team" value="{{ matchup.home_team.key }}">
                        <img src="{{ url_for('static', filename='logos/'+matchup.home_team.key+'.png') }}" class="img-fluid">
                    </button>
                </div>
            </div>
        </div>
        <!-- Game Info Section -->
        <div class="col-2 align-self-center">
            <div class="row"><small class="text-center font-weight-light">Week {{matchup.week }}</small></div>
            <div class="row"><small class="text-center font-weight-light">{{ date }}</small></div>
            <div class="row"><small class="text-center font-weight-light">{{ time }}</small></div>
        </div>
        <!-- Away Team Section -->
        <div class="col-5">
            <div class="row">
                <div class="col-4 text-center">
                    <button id="{{ matchup.away_team.key }}" class="btn btn-dark btn-small" name="team" value="{{ matchup.away_team.key }}">
                        <img src="{{ url_for('static', filename='logos/'+matchup.away_team.key+'.png') }}" class="img-fluid">
                    </button>
                </div>
                <div class="col-8 align-self-center">
                    <div class="row"><small class="text-start">{{ matchup.away_team.location}}</small></div>
                    <div class="row"><h2 class="text-start text-uppercase">{{ matchup.away_team.name }}</h2></div>
                    {% if matchup.preseason %}
                        {% if matchup.away_team.preseason_ties %}
                        <div class="row"><small class="text-start font-weight-light">{{ matchup.away_team.preseason_wins }}-{{matchup.away_team.preseason_losses}}-{{matchup.away_team.preseason_ties}}</small></div>
                        {% else %}
                        <div class="row"><small class="text-start font-weight-light">{{ matchup.away_team.preseason_wins }}-{{matchup.away_team.preseason_losses}}</small></div>
                        {% endif %}
                    {% else %}
                        {% if matchup.away_team.ties %}
                        <div class="row"><small class="text-start font-weight-light">{{ matchup.away_team.wins }}-{{matchup.away_team.losses}}-{{matchup.away_team.ties}}</small></div>
                        {% else %}
                        <div class="row"><small class="text-start font-weight-light">{{ matchup.away_team.wins }}-{{matchup.away_team.losses}}</small></div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- Content -->
    <div class="container text-white">
        <div class="row">
            <!-- Left Side -->
            <div class="col-3">
                {% if homePassLeader and homeRushLeader and homeRecLeader %}
                <!-- Home Team Stat Leaders -->
                <div class="row mt-2">
                    <div class="card bg-dark">
                        <div class="card-title text-center">Home Stat Leaders</div>
                        <div class="card-body">
                            <!-- Passing Leader -->
                            <div class="row mt-2">
                                <button data-id="{{ homePassLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                    <div class="row">
                                        <div class="col-6 position-relative">
                                            <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + homePassLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                        </div>
                                        <div class="col-6">
                                            {% set homePassLeaderStats = homePassLeader.get_season_stats(matchup.preseason) %}
                                            <div class="row mt-2 text-end"><small>{{ homePassLeader.fname[0] }}. {{ homePassLeader.lname }}</small></div>
                                            <div class="row mt-1 text-end"><small class="text-muted">{{ homePassLeaderStats.passComps }}-{{ homePassLeaderStats.passAtts }}, {{ homePassLeaderStats.passYDs }} YDs, {{ homePassLeaderStats.passTDs }} TDs</small></div>
                                        </div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                                </button>
                            </div>
                            <!-- Rushing Leader -->
                            <div class="row mt-2">
                                <button data-id="{{ homeRushLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + homeRushLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                        </div>
                                        <div class="col-6">
                                            {% set homeRushLeaderStats = homeRushLeader.get_season_stats(matchup.preseason) %}
                                            <div class="row mt-2 text-end"><small>{{ homeRushLeader.fname[0] }}. {{ homeRushLeader.lname }}</small></div>
                                            <div class="row mt-1 text-end"><small class="text-muted">{{ homeRushLeaderStats.rushAtts }} CAR, {{ homeRushLeaderStats.rushYDs }} YDs, {{ homeRushLeaderStats.rushTDs }} TDs</small></div>
                                        </div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                                </button>
                            </div>
                            <!-- Receiving Leader -->
                            <div class="row mt-2">
                                <button data-id="{{ homeRecLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                    <div class="row">
                                        <div class="col-6">
                                            <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + homeRecLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                        </div>
                                        <div class="col-6">
                                            {% set homeRecLeaderStats = homeRecLeader.get_season_stats(matchup.preseason) %}
                                            <div class="row mt-2 text-end"><small>{{ homeRecLeader.fname[0] }}. {{ homeRecLeader.lname }}</small></div>
                                            <div class="row mt-1 text-end"><small class="text-muted">{{ homeRecLeaderStats.recs }} REC, {{ homeRecLeaderStats.recYDs }} YDs, {{ homeRecLeaderStats.recTDs }} TDs</small></div>
                                        </div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Home Team Stats per Game -->
                <div class="row mt-2">
                    <div class="card bg-dark">
                        <div class="card-title text-center">Team Stats/Game</div>
                        <div class="card-body">
                            {% set home_team_stats = matchup.home_team.get_team_stats(preseason=matchup.preseason) %}
                            <div class="row">
                                <div class="col-6 text-center">
                                    <button class="btn text-dark bgcolor{{ home_team_stats.passYDsPerGameRank }} w-100 position-relative">
                                        <div class="row mt-3">
                                            <h2>{{ '%0.1f' |format(home_team_stats.passYDsPerGame) }}</h2>
                                        </div>
                                        <div class="row">
                                            <small>#{{ home_team_stats.passYDsPerGameRank }}</small>
                                        </div>
                                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                                    </button>
                                </div>
                                <div class="col-6 text-center">
                                    <button class="btn text-dark bgcolor{{ home_team_stats.rushYDsPerGameRank }} w-100 position-relative">
                                        <div class="row mt-3">
                                            <h2>{{ '%0.1f' |format(home_team_stats.rushYDsPerGame) }}</h2>
                                        </div>
                                        <div class="row">
                                            <small>#{{ home_team_stats.rushYDsPerGameRank }}</small>
                                        </div>
                                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col text-center">
                                  <button class="btn text-dark bgcolor{{ home_team_stats.PPGRank }} w-100 position-relative">
                                    <div class="row mt-3">
                                      <h2>{{ '%0.1f' |format(home_team_stats.PPG) }}</h2>
                                    </div>
                                    <div class="row">
                                      <small>#{{ home_team_stats.PPGRank }}</small>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Points For</span>
                                  </button>
                                </div>
                                <div class="col text-center">
                                  <button class="btn text-dark bgcolor{{ 33 - home_team_stats.PAPGRank }} w-100 position-relative">
                                    <div class="row mt-3">
                                      <h2>{{ '%0.1f' |format(home_team_stats.PAPG) }}</h2>
                                    </div>
                                    <div class="row">
                                      <small>#{{ home_team_stats.PAPGRank }}</small>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Points Against</span>
                                  </button>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <!-- Main Content -->
            <div class="col-6">
                <!-- Injury Report -->
                <div class="card bg-dark">
                    <div class="card-title text-center">Injury Reports</div>
                    <div class="card-body">
                        <div class="row justify-content-center text-white">
                            <!-- Home Team -->
                            <div class="col-6 text-start justify-content-center">
                                <table class="player-table table table-sm table-dark table-hover table-responsive">
                                    <thead><td>Pos</td><td>Name</td></thead>
                                    <tbody>
                                        {% for player in matchup.home_team.players %}
                                        <tr data-id="{{ player.ID }}">
                                            {% if player.designation == 'Questionable' or player.designation == 'Doubtful' %}
                                            <td>{{ player.position }}</td>
                                            <td>{{  player.name }} <div class="badge rounded-pill p-1 bg-warning"><span class="visually-hidden">N</span></div></td>
                                            {% elif player.designation == 'Out' %}
                                            <td>{{ player.position }}</td>
                                            <td>{{  player.name }} <div class="badge rounded-pill p-1 bg-danger"><span class="visually-hidden">N</span></div></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Away Team -->
                            <div class="col-6 text-start">
                                <table class="player-table table table-sm table-dark table-hover table-responsive">
                                    <thead><td>Pos</td><td>Name</td></thead>
                                    <tbody>
                                        {% for player in matchup.away_team.players %}
                                        <tr data-id="{{ player.ID }}">
                                            {% if player.designation == 'Questionable' or player.designation == 'Doubtful' %}
                                            <td>{{ player.position }}</td>
                                            <td>{{  player.name }} <div class="badge rounded-pill p-1 bg-warning"><span class="visually-hidden">N</span></div></td>
                                            {% elif player.designation == 'Out' %}
                                            <td>{{ player.position }}</td>
                                            <td>{{  player.name }} <div class="badge rounded-pill p-1 bg-danger"><span class="visually-hidden">N</span></div></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Side -->
            <div class="col-3">
                {% if awayPassLeader and awayRushLeader and awayRecLeader %}
                <!-- Away Team Stat Leaders -->
                <div class="row mt-2">
                    <div class="card bg-dark">
                        <div class="card-title text-center">Stat Leaders</div>
                        <div class="card-body">
                            <!-- Passing Leader -->
                            <div class="row mt-2">
                                <button data-id="{{ awayPassLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                    <div class="row">
                                        <div class="col-6">
                                            {% set awayPassLeaderStats = awayPassLeader.get_season_stats(matchup.preseason) %}
                                            <div class="row mt-2 text-start"><small>{{ awayPassLeader.fname[0] }}. {{ awayPassLeader.lname }}</small></div>
                                            <div class="row mt-1 text-start"><small class="text-muted">{{ awayPassLeaderStats.passComps }}-{{ awayPassLeaderStats.passAtts }}, {{ awayPassLeaderStats.passYDs }} YDs, {{ awayPassLeaderStats.passTDs }} TDs</small></div>
                                        </div>
                                        <div class="col-6 position-relative">
                                            <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + awayPassLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                        </div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                                </button>
                            </div>
                            <!-- Rushing Leader -->
                            <div class="row mt-2">
                                <button data-id="{{ awayRushLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                    <div class="row">
                                        <div class="col-6">
                                            {% set awayRushLeaderStats = awayRushLeader.get_season_stats(matchup.preseason) %}
                                            <div class="row mt-2 text-start"><small>{{ awayRushLeader.fname[0] }}. {{ awayRushLeader.lname }}</small></div>
                                            <div class="row mt-1 text-start"><small class="text-muted">{{ awayRushLeaderStats.rushAtts }} CAR, {{ awayRushLeaderStats.rushYDs }} YDs, {{ awayRushLeaderStats.rushTDs }} TDs</small></div>
                                        </div>
                                        <div class="col-6">
                                            <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + awayRushLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                        </div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                                </button>
                            </div>
                            <!-- Receiving Leader -->
                            <div class="row mt-2">
                                <button data-id="{{ awayRecLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                    <div class="row">
                                        <div class="col-6">
                                            {% set awayRecLeaderStats = awayRecLeader.get_season_stats(matchup.preseason) %}
                                            <div class="row mt-2 text-start"><small>{{ awayRecLeader.fname[0] }}. {{ awayRecLeader.lname }}</small></div>
                                            <div class="row mt-1 text-start"><small class="text-muted">{{ awayRecLeaderStats.recs }} REC, {{ awayRecLeaderStats.recYDs }} YDs, {{ awayRecLeaderStats.recTDs }} TDs</small></div>
                                        </div>
                                        <div class="col-6">
                                            <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + awayRecLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                        </div>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Away Team Stats per Game -->
                <div class="row mt-2">
                    <div class="card bg-dark">
                        <div class="card-title text-center">Team Stats/Game</div>
                        <div class="card-body">
                            {% set away_team_stats = matchup.away_team.get_team_stats(preseason=matchup.preseason) %}
                            <div class="row">
                                <div class="col-6 text-center">
                                    <button class="btn text-dark bgcolor{{ away_team_stats.passYDsPerGameRank }} w-100 position-relative">
                                        <div class="row mt-3">
                                            <h2>{{ '%0.1f' |format(away_team_stats.passYDsPerGame) }}</h2>
                                        </div>
                                        <div class="row">
                                            <small>#{{ away_team_stats.passYDsPerGameRank }}</small>
                                        </div>
                                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                                    </button>
                                </div>
                                <div class="col-6 text-center">
                                    <button class="btn text-dark bgcolor{{ away_team_stats.rushYDsPerGameRank }} w-100 position-relative">
                                        <div class="row mt-3">
                                            <h2>{{ '%0.1f' |format(away_team_stats.rushYDsPerGame) }}</h2>
                                        </div>
                                        <div class="row">
                                            <small>#{{ away_team_stats.rushYDsPerGameRank }}</small>
                                        </div>
                                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col text-center">
                                  <button class="btn text-dark bgcolor{{ away_team_stats.PPGRank }} w-100 position-relative">
                                    <div class="row mt-3">
                                      <h2>{{ '%0.1f' |format(away_team_stats.PPG) }}</h2>
                                    </div>
                                    <div class="row">
                                      <small>#{{ away_team_stats.PPGRank }}</small>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Points For</span>
                                  </button>
                                </div>
                                <div class="col text-center">
                                  <button class="btn text-dark bgcolor{{ 33 - away_team_stats.PAPGRank }} w-100 position-relative">
                                    <div class="row mt-3">
                                      <h2>{{ '%0.1f' |format(away_team_stats.PAPG) }}</h2>
                                    </div>
                                    <div class="row">
                                      <small>#{{ away_team_stats.PAPGRank }}</small>
                                    </div>
                                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Points Against</span>
                                  </button>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}