{% extends 'base.html' %}
{% block title %}
  Matchups
{% endblock %}
{% block content %}
<div class="container mt-4 pt-4">
    <!-- Content -->
    <div class="container text-white">
    <div class="row mt-4">
        <!-- Left Side -->
        <div class="col-9">
            <!-- Week Matchups -->
            <div class="card bg-dark">
              <div class="card-title text-center">
                  {% if 'pre' in week_string %}
                    {% set preseason = True %}
                    Preseason Week {{ week }} Matchups
                    {% else %}
                    {% set preseason = False %}
                    Week {{ week }} Matchups
                  {% endif %}
              </div>
              <div class="card-body">
                  <!-- Week Selection Button -->
                  <div class="row justify-content-center m-2 text-center">
                      <form action="{{ url_for('matchups') }}" method="GET">
                        <div class="col btn-group text-center" role="group">
                          {% for n in range(1, 5) %}
                          {% if 'pre' in week_string and n == week %}
                          <button type="submit" class="btn btn-light" name="Sort" value="week-pre{{ n }}" disabled>{{ n }}</button>
                          {% else %}
                          <button type="submit" class="btn btn-light" name="Sort" value="week-pre{{ n }}">{{ n }}</button>
                          {% endif %}
                          {% endfor %}
                          {% for n in range(1, 19) %}
                          {% if 'pre' not in week_string and n == week %}
                          <button type="submit" class="btn btn-secondary" name="Sort" value="week-{{ n }}" disabled>{{ n }}</button>
                          {% else %}
                          <button type="submit" class="btn btn-secondary" name="Sort" value="week-{{ n }}">{{ n }}</button>
                          {% endif %}
                          {% endfor %}
                        </div>
                      </form>
                  </div>
                  <!-- Matchups -->
                  <div class="row">
                  {% for matchup in matchups %}
                  <div class="col-12">
                      <div class="card text-white bg-dark m-1 border-secondary shadow">
                          <div class="card-body">
                              <!-- Matchup -->
                              <div class="row">
                                  <div class="col-2 align-self-center">
                                      <div class="row"><span class="text-end"><small><small>{{matchup.away_team.location}}</small></small></span></div>
                                      <div class="row"><span class="text-end"><h5>{{ matchup.away_team.name}}</h5></span></div>
                                      {% if matchup.away_team.ties %}
                                      <div class="row"><span class="text-end"><small><small class="text-muted">{{matchup.away_team.wins}}-{{matchup.away_team.losses}}-{{matchup.away_team.ties}}</small></small></span></div>
                                      {% else %}
                                      <div class="row"><span class="text-end"><small><small class="text-muted">{{matchup.away_team.wins}}-{{matchup.away_team.losses}}</small></small></span></div>
                                      {% endif %}
                                  </div>
                                  <div class="col-2">
                                      <form action="{{ url_for('team') }}" method="GET">
                                          <button id="{{ matchup.away_team.key }}" class="btn btn-dark btn-small" name="team" value="{{ matchup.away_team.key }}">
                                            <img src="{{ url_for('static', filename='logos/'+matchup.away_team.key+'.png') }}" class="img-fluid">
                                          </button>
                                      </form>
                                  </div>
                                  <div class="col-1 align-self-center">
                                      {% if matchup.completed %}
                                        {% if matchup.winner == matchup.away_team.key %}
                                            <h4><strong>• {{ matchup.away_team_score }}</strong></h4>
                                        {% else %}
                                            <h4>{{ matchup.away_team_score }}</h4>
                                        {% endif %}
                                      {% endif %}
                                  </div>
                                  <div class="col-2 text-center align-self-center">
                                    <form class="text-center" action="{{ url_for('matchup') }}" method="GET">
                                        <button type="submit" class="btn-block btn bg-dark text-white card-title" name="matchup" value="{{ matchup.ID }}">
                                          {% if matchup.completed %}
                                            <strong>{% if matchup.overtime %}Final/OT{% else %}Final{%endif%}</strong>
                                          {% else %}
                                            <div class="row text-center"><span class="text-center">{{ matchup.get_time().strftime('%A') }}</span></div>
                                            <div class="row text-center"><span class="text-center">{{ matchup.get_time().strftime('%B %-d') }}</span></div>
                                            <div class="row text-center"><span class="text-center">{{ matchup.get_time().strftime('%-I:%M %p') }}</span></div>
                                          {% endif %}
                                        </button>
                                    </form>
                                  </div>
                                  <div class="col-1 align-self-center">
                                      {% if matchup.completed %}
                                        {% if matchup.winner == matchup.home_team.key %}
                                            <h4><strong>• {{ matchup.home_team_score }}</strong></h4>
                                        {% else %}
                                            <h4>{{ matchup.home_team_score }}</h4>
                                        {% endif %}
                                      {% endif %}
                                  </div>
                                  <div class="col-2">
                                      <form action="{{ url_for('team') }}" method="GET">
                                      <button id="{{ matchup.home_team.key }}" class="btn btn-dark btn-small" name="team" value="{{ matchup.home_team.key }}">
                                        <img src="{{ url_for('static', filename='logos/'+matchup.home_team.key+'.png') }}" class="img-fluid">
                                      </button>
                                  </form>
                                  </div>
                                  <div class="col-2 align-self-center">
                                      <div class="row"><span class="text-start"><small><small>{{matchup.home_team.location}}</small></small></span></div>
                                      <div class="row"><span class="text-start"><h5>{{ matchup.home_team.name}}</h5></span></div>
                                      {% if matchup.home_team.ties %}
                                      <div class="row"><span class="text-start"><small><small class="text-muted">{{matchup.home_team.wins}}-{{matchup.home_team.losses}}-{{matchup.home_team.ties}}</small></small></span></div>
                                      {% else %}
                                      <div class="row"><span class="text-start"><small><small class="text-muted">{{matchup.home_team.wins}}-{{matchup.home_team.losses}}</small></small></span></div>
                                      {% endif %}
                                  </div>
                              </div>
                              <!-- Matchup Leaders -->
                              {% if matchup.completed %}
                              <div class="row mt-4">
                                  <div class="col-4">
                                      <button data-id="{{ matchup.passingLeader_id }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                        <div class="row">
                                            <div class="col-6">
                                                {% set passLeader = Player.query.get(matchup.passingLeader_id) %}
                                                {% set passLeaderStats = passLeader.get_weekly_stats(matchup) %}
                                                <div class="row mt-2 text-start"><small>{{ passLeader.fname[0] }}. {{ passLeader.lname }}</small></div>
                                                <div class="row mt-1 text-start"><small class="text-muted">{{ passLeaderStats.passComps }}-{{ passLeaderStats.passAtts }}, {{ passLeaderStats.passYDs }} YDs, {{ passLeaderStats.passTDs }} TDs</small></div>
                                            </div>
                                            <div class="col-6 position-relative">
                                                <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + matchup.passingLeader_id|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                            </div>
                                        </div>
                                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                                    </button>
                                  </div>
                                  <div class="col-4">
                                      <button data-id="{{ matchup.rushingLeader_id }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                        <div class="row">
                                            <div class="col-6">
                                                {% set rushLeader = Player.query.get(matchup.rushingLeader_id) %}
                                                {% set rushLeaderStats = rushLeader.get_weekly_stats(matchup) %}
                                                <div class="row mt-2 text-start"><small>{{ rushLeader.fname[0] }}. {{ rushLeader.lname }}</small></div>
                                                <div class="row mt-1 text-start"><small class="text-muted">{{ rushLeaderStats.rushAtts }} CAR, {{ rushLeaderStats.rushYDs }} YDs, {{ rushLeaderStats.rushTDs }} TDs</small></div>
                                            </div>
                                            <div class="col-6 position-relative">
                                                <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + matchup.rushingLeader_id|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                            </div>
                                        </div>
                                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                                    </button>
                                  </div>
                                  <div class="col-4">
                                      <button data-id="{{ matchup.receivingLeader_id }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                        <div class="row">
                                            <div class="col-6">
                                                {% set recLeader = Player.query.get(matchup.receivingLeader_id) %}
                                                {% set recLeaderStats = recLeader.get_weekly_stats(matchup) %}
                                                <div class="row mt-2 text-start"><small>{{ recLeader.fname[0] }}. {{ recLeader.lname }}</small></div>
                                                <div class="row mt-1 text-start"><small class="text-muted">{{ recLeaderStats.recs }} REC, {{ recLeaderStats.recYDs }} YDs, {{ recLeaderStats.recTDs }} TDs</small></div>
                                            </div>
                                            <div class="col-6 position-relative">
                                                <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + matchup.receivingLeader_id|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                            </div>
                                        </div>
                                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                                    </button>
                                  </div>
                              </div>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
          </div>
        </div>
        <!-- Right Side -->
        <div class="col-3">
            <!-- Bye Teams -->
            {% if bye_teams %}
            <div class="row mt-2">
                <div class="card bg-dark">
                    <div class="card-title text-center">Bye Teams</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <form action="{{ url_for('team') }}" method="GET">
                          <div class="row justify-content-center">
                          {% for team in bye_teams %}
                            <div class="col-3 text-center">
                              <button id="{{ team.key }}" class="btn btn-dark btn-small mt-1" name="team" value="{{ team.key }}"><img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" height="40"></button>
                            </div>
                          {% endfor %}
                          </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Week Stat Leaders -->
            {% if passLeader and rushLeader and recLeader %}
            {% if games_completed %}
            <div class="row mt-2">
                <div class="card bg-dark">
                    <div class="card-title text-center">Week Stat Leaders</div>
                    <div class="card-body">
                        <!-- Passing Leader -->
                        <div class="row mt-2">
                            <button data-id="{{ passLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                <div class="row">
                                    <div class="col-6 position-relative">
                                        <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + passLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                    </div>
                                    <div class="col-6">
                                        {% set passLeaderStats = passLeader.get_weekly_stats_by_week(preseason=preseason, week=week) %}
                                        <div class="row mt-2 text-end"><small>{{ passLeader.fname[0] }}. {{ passLeader.lname }}</small></div>
                                        <div class="row mt-1 text-end"><small class="text-muted">{{ passLeaderStats.passComps }}-{{ passLeaderStats.passAtts }}, {{ passLeaderStats.passYDs }} YDs, {{ passLeaderStats.passTDs }} TDs</small></div>
                                    </div>
                                </div>
                                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                            </button>
                        </div>
                        <!-- Rushing Leader -->
                        <div class="row mt-2">
                            <button data-id="{{ rushLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                <div class="row">
                                    <div class="col-6">
                                        <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + rushLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                    </div>
                                    <div class="col-6">
                                        {% set rushLeaderStats = rushLeader.get_weekly_stats_by_week(preseason=preseason, week=week) %}
                                        <div class="row mt-2 text-end"><small>{{ rushLeader.fname[0] }}. {{ rushLeader.lname }}</small></div>
                                        <div class="row mt-1 text-end"><small class="text-muted">{{ rushLeaderStats.rushAtts }} CAR, {{ rushLeaderStats.rushYDs }} YDs, {{ rushLeaderStats.rushTDs }} TDs</small></div>
                                    </div>
                                </div>
                                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                            </button>
                        </div>
                        <!-- Receiving Leader -->
                        <div class="row mt-2">
                            <button data-id="{{ recLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                <div class="row">
                                    <div class="col-6">
                                        <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + recLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                    </div>
                                    <div class="col-6">
                                        {% set recLeaderStats = recLeader.get_weekly_stats_by_week(preseason=preseason, week=week) %}
                                        <div class="row mt-2 text-end"><small>{{ recLeader.fname[0] }}. {{ recLeader.lname }}</small></div>
                                        <div class="row mt-1 text-end"><small class="text-muted">{{ recLeaderStats.recs }} REC, {{ recLeaderStats.recYDs }} YDs, {{ recLeaderStats.recTDs }} TDs</small></div>
                                    </div>
                                </div>
                                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <!-- Season Stat Leaders -->
            <div class="row mt-2">
                <div class="card bg-dark">
                    <div class="card-title text-center">Season Stat Leaders</div>
                    <div class="card-body">
                        <!-- Passing Leader -->
                        <div class="row mt-2">
                            <button data-id="{{ passLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                <div class="row">
                                    <div class="col-6 position-relative">
                                        <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + passLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                    </div>
                                    <div class="col-6">
                                        {% set passLeaderStats = passLeader.get_season_stats(preseason=preseason) %}
                                        <div class="row mt-2 text-end"><small>{{ passLeader.fname[0] }}. {{ passLeader.lname }}</small></div>
                                        <div class="row mt-1 text-end"><small class="text-muted">{{ passLeaderStats.passComps }}-{{ passLeaderStats.passAtts }}, {{ passLeaderStats.passYDs }} YDs, {{ passLeaderStats.passTDs }} TDs</small></div>
                                    </div>
                                </div>
                                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                            </button>
                        </div>
                        <!-- Rushing Leader -->
                        <div class="row mt-2">
                            <button data-id="{{ rushLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                <div class="row">
                                    <div class="col-6">
                                        <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + rushLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                    </div>
                                    <div class="col-6">
                                        {% set rushLeaderStats = rushLeader.get_season_stats(preseason=preseason) %}
                                        <div class="row mt-2 text-end"><small>{{ rushLeader.fname[0] }}. {{ rushLeader.lname }}</small></div>
                                        <div class="row mt-1 text-end"><small class="text-muted">{{ rushLeaderStats.rushAtts }} CAR, {{ rushLeaderStats.rushYDs }} YDs, {{ rushLeaderStats.rushTDs }} TDs</small></div>
                                    </div>
                                </div>
                                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                            </button>
                        </div>
                        <!-- Receiving Leader -->
                        <div class="row mt-2">
                            <button data-id="{{ recLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                                <div class="row">
                                    <div class="col-6">
                                        <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + recLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                    </div>
                                    <div class="col-6">
                                        {% set recLeaderStats = recLeader.get_season_stats(preseason=preseason) %}
                                        <div class="row mt-2 text-end"><small>{{ recLeader.fname[0] }}. {{ recLeader.lname }}</small></div>
                                        <div class="row mt-1 text-end"><small class="text-muted">{{ recLeaderStats.recs }} REC, {{ recLeaderStats.recYDs }} YDs, {{ recLeaderStats.recTDs }} TDs</small></div>
                                    </div>
                                </div>
                                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
  </div>
</div>

<script>
  $('#teamList').find('tr[data-key]').on('click', function(){
      var KEY = $(this).data('key');
      $('#'+KEY).click();
    });

</script>
{% endblock %}
