{% extends 'base.html' %}
{% block title %}
  Season Stats
{% endblock %}
{% block content %}
<!-- Stats Page Content -->
<div id="statsPage" class="container mt-4 pt-4 text-white">
    <div class="row justify-content-center">
      <!-- MAIN CONTENT -->
      <div class="col-12">
        {% if passLeaders and rushLeaders and recLeaders %}
        <!-- Offensive League Leaders -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Offensive League Leaders</div>
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col">
                  <div class="row">
                    <!-- Passing Yards Leaders -->
                    <div class="col">
                      <div class="btn-group-vertical mt-2 position-relative">
                      {% for passLeaderStats in passLeaders %}
                      {% set passLeader = passLeaderStats.player %}
                      {% if loop.index == 1 %}
                      <button data-id="{{ passLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-2">
                          <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + passLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                        </div>
                        <div class="row mt-1">
                          <span>{{ passLeader.name }} <span class="text-muted"><small>{{ passLeader.current_team.key }}</small></span></span>
                        </div>
                        <div class="row mt-1">
                          <h3>{{ passLeaderStats.passYDs }}</h3>
                        </div>
                      </button>
                      {% else %}
                      <button data-id="{{ passLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-1">
                          <div class="col-10">
                            <div class="row text-start">
                              <span><small>{{ passLeader.shortname }} </small><span class="text-muted"><small><small><small>{{ passLeader.current_team.key }}</small></small></small></span></span>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="row">
                              {{ passLeaderStats.passYDs }}
                            </div>
                          </div>
                        </div>
                      </button>
                      {% endif %}
                      {% endfor %}
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                      </div>
                    </div>
                    <!-- Passing TDs Leaders -->
                    <div class="col">
                      <div class="btn-group-vertical mt-2 position-relative">
                      {% for passTDLeaderStats in passTDLeaders %}
                      {% set passTDLeader = passTDLeaderStats.player %}
                      {% if loop.index == 1 %}
                      <button data-id="{{ passTDLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-2">
                          <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + passTDLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                        </div>
                        <div class="row mt-1">
                          <span>{{ passTDLeader.name }} <span class="text-muted"><small>{{ passTDLeader.current_team.key }}</small></span></span>
                        </div>
                        <div class="row mt-1">
                          <h3>{{ passTDLeaderStats.passTDs }}</h3>
                        </div>
                      </button>
                      {% else %}
                      <button data-id="{{ passTDLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-1">
                          <div class="col-10">
                            <div class="row text-start">
                              <span><small>{{ passTDLeader.shortname }} </small><span class="text-muted"><small><small><small>{{ passTDLeader.current_team.key }}</small></small></small></span></span>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="row">
                              {{ passTDLeaderStats.passTDs }}
                            </div>
                          </div>
                        </div>
                      </button>
                      {% endif %}
                      {% endfor %}
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing TDs</span>
                      </div>
                    </div>
                    <!-- Rushing Yards Leaders -->
                    <div class="col">
                      <div class="btn-group-vertical mt-2 position-relative">
                      {% for rushLeaderStats in rushLeaders %}
                      {% set rushLeader = rushLeaderStats.player %}
                      {% if loop.index == 1 %}
                      <button data-id="{{ rushLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-2">
                          <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + rushLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                        </div>
                        <div class="row mt-1">
                          <span>{{ rushLeader.name }} <span class="text-muted"><small>{{ rushLeader.current_team.key }}</small></span></span>
                        </div>
                        <div class="row mt-1">
                          <h3>{{ rushLeaderStats.rushYDs }}</h3>
                        </div>
                      </button>
                      {% else %}
                      <button data-id="{{ rushLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-1">
                          <div class="col-10">
                            <div class="row text-start">
                              <span><small>{{ rushLeader.shortname }} </small><span class="text-muted"><small><small><small>{{ rushLeader.current_team.key }}</small></small></small></span></span>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="row">
                              {{ rushLeaderStats.rushYDs }}
                            </div>
                          </div>
                        </div>
                      </button>
                      {% endif %}
                      {% endfor %}
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                      </div>
                    </div>
                    <!-- Rushing TDs Leaders -->
                    <div class="col">
                      <div class="btn-group-vertical mt-2 position-relative">
                      {% for rushTDLeaderStats in rushTDLeaders %}
                      {% set rushTDLeader = rushTDLeaderStats.player %}
                      {% if loop.index == 1 %}
                      <button data-id="{{ rushTDLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-2">
                          <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + rushTDLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                        </div>
                        <div class="row mt-1">
                          <span>{{ rushTDLeader.name }} <span class="text-muted"><small>{{ rushTDLeader.current_team.key }}</small></span></span>
                        </div>
                        <div class="row mt-1">
                          <h3>{{ rushTDLeaderStats.rushTDs }}</h3>
                        </div>
                      </button>
                      {% else %}
                      <button data-id="{{ rushTDLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-1">
                          <div class="col-10">
                            <div class="row text-start">
                              <span><small>{{ rushTDLeader.shortname }} </small><span class="text-muted"><small><small><small>{{ rushTDLeader.current_team.key }}</small></small></small></span></span>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="row">
                              {{ rushTDLeaderStats.rushTDs }}
                            </div>
                          </div>
                        </div>
                      </button>
                      {% endif %}
                      {% endfor %}
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing TDs</span>
                      </div>
                    </div>
                    <!-- Receiving Yards Leaders -->
                    <div class="col">
                      <div class="btn-group-vertical mt-2 position-relative">
                      {% for recLeaderStats in recLeaders %}
                      {% set recLeader = recLeaderStats.player %}
                      {% if loop.index == 1 %}
                      <button data-id="{{ recLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-2">
                          <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + recLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                        </div>
                        <div class="row mt-1">
                          <span>{{ recLeader.name }} <span class="text-muted"><small>{{ recLeader.current_team.key }}</small></span></span>
                        </div>
                        <div class="row mt-1">
                          <h3>{{ recLeaderStats.recYDs }}</h3>
                        </div>
                      </button>
                      {% else %}
                      <button data-id="{{ recLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-1">
                          <div class="col-10">
                            <div class="row text-start">
                              <span><small>{{ recLeader.shortname }} </small><span class="text-muted"><small><small><small>{{ recLeader.current_team.key }}</small></small></small></span></span>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="row">
                              {{ recLeaderStats.recYDs }}
                            </div>
                          </div>
                        </div>
                      </button>
                      {% endif %}
                      {% endfor %}
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                      </div>
                    </div>
                    <!-- Receiving TDs Leaders -->
                    <div class="col">
                      <div class="btn-group-vertical mt-2 position-relative">
                      {% for recTDLeaderStats in recTDLeaders %}
                      {% set recTDLeader = recTDLeaderStats.player %}
                      {% if loop.index == 1 %}
                      <button data-id="{{ recTDLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-2">
                          <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + recTDLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                        </div>
                        <div class="row mt-1">
                          <span>{{ recTDLeader.name }} <span class="text-muted"><small>{{ recTDLeader.current_team.key }}</small></span></span>
                        </div>
                        <div class="row mt-1">
                          <h3>{{ recTDLeaderStats.recTDs }}</h3>
                        </div>
                      </button>
                      {% else %}
                      <button data-id="{{ recTDLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark">
                        <div class="row mt-1">
                          <div class="col-10">
                            <div class="row text-start">
                              <span><small>{{ recTDLeader.shortname }} </small><span class="text-muted"><small><small><small>{{ recTDLeader.current_team.key }}</small></small></small></span></span>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="row">
                              {{ recTDLeaderStats.recTDs }}
                            </div>
                          </div>
                        </div>
                      </button>
                      {% endif %}
                      {% endfor %}
                        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving TDs</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}