{% extends 'base.html' %}
{% block title %}
  {{ team.fullname }}
{% endblock %}
{% block content %}'
<div id="mainContainer" class="container mt-4 pt-4">
  <!-- Header -->
  <div class="row">
    <!-- Header Left -->
    <div class="col-5">
      <div class="row text-white">
        <div class="col-4 text-center">
          <img src="{{ url_for('static', filename='logos/'+team.key+'.png') }}" class="img-fluid">
        </div>
        <div class="col-8 align-self-center">
          <div class="row"><small class="text-start">{{ team.location}}</small></div>
          <div class="row"><h2 class="text-start text-uppercase">{{ team.name }}</h2></div>
          <div class="row"><small class="text-start font-weight-light">{{ team.wins }}-{{ team.loses }}</small></div>
        </div>
      </div>
    </div>
    <!-- Header Right -->
    <div class="col-7 align-self-center">
      <!-- Team Rankings -->
      <div class="row">
        <!-- DVOA -->
        <div class="col text-center">
          <button class="btn btn-block btn-secondary position-relative">
            <div class="row mt-3">
              <h2>BLANK</h2>
            </div>
            <div class="row">
            </div>
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">DVOA</span>
          </button>
        </div>
        <!-- OFF Rank -->
        <div class="col text-center">
          <button class="btn btn-block btn-secondary position-relative">
            <div class="row mt-3">
              <h2>BLANK</h2>
            </div>
            <div class="row">
            </div>
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">OFF Rank</span>
          </button>
        </div>
        <!-- DEF Rank -->
        <div class="col text-center">
          <button class="btn btn-block btn-secondary position-relative">
            <div class="row mt-3">
              <h2>BLANK</h2>
            </div>
            <div class="row">
            </div>
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">DEF Rank</span>
          </button>
        </div>
        <!-- ST Rank -->
        <div class="col text-center">
          <button class="btn btn-block btn-secondary position-relative">
            <div class="row mt-3">
              <h2>BLANK</h2>
            </div>
            <div class="row">
            </div>
            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">ST Rank</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Team Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
  <div id="teamNav" class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" id="statsSelection">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" id="rosterSelection">Roster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" id="injurySelection">Injuries</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <!-- Home Page Content -->
  <div id="homePage" class="container text-white">
    <div class="row">
      <!-- LEFT COLUMN -->
      <div class="col-2">
        <!-- PRESEASON SCHEDULE -->
        <div class="row mt-2">
          <div class="card bg-dark">
          <div class="card-title text-center">Preseason Schedule</div>
          <div class="card-body">
            <form action="{{ url_for('matchup') }}" method="GET">
              {% for game in preschedule %}
              <div class="row justify-content-center mt-1">
                {% if game.home_team.key == team.key %}
                <button type="submit" class="btn btn-dark text-white p-2 position-relative" name="matchup" value="{{ game.ID }}">
                  <div class="row px-1 mx-1">
                    <span class="text-center"><small>vs. {{ game.away_team.name }}</small></span>
                  </div>
                  <span class="position-absolute top-50 start-0 translate-middle badge rounded-pill text-dark"><img src="{{ url_for('static', filename='logos/'+game.away_team.key+'.png') }}" height="40"></span>
                  {% if game.completed %}
                    {% if game.winner == team.key %}
                    <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill text-dark bg-success">W</span>
                    {% else %}
                    <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill text-dark bg-danger">L</span>
                    {% endif %}
                  {% else %}
                  <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill text-dark bg-light">{{game.week}}</span>
                  {% endif %}
                </button>
                {% else %}
                <button type="submit" class="btn btn-dark text-white p-2 position-relative" name="matchup" value="{{ game.ID }}">
                  <div class="row px-1 mx-1">
                    <span class="text-center"><small>@ {{ game.home_team.name }}</small></span>
                  </div>
                  <span class="position-absolute top-50 start-0 translate-middle badge rounded-pill text-dark"><img src="{{ url_for('static', filename='logos/'+game.home_team.key+'.png') }}" height="40"></span>
                  {% if game.completed %}
                    {% if game.winner == team.key %}
                    <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill text-dark bg-success">W</span>
                    {% else %}
                    <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill text-dark bg-danger">L</span>
                    {% endif %}
                  {% else %}
                  <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill text-dark bg-light">{{game.week}}</span>
                  {% endif %}
                </button>
                {% endif %}
              </div>
              {% endfor %}
            </form>
          </div>
        </div>
        </div>
        <!-- REGULAR SEASON SCHEDULE -->
        <div class="row mt-2">
          <div class="card bg-dark">
          <div class="card-title text-center">Season Schedule</div>
          <div class="card-body">
            <form action="{{ url_for('matchup') }}" method="GET">
              {% for game in schedule %}
              <div class="row justify-content-center mt-1">
                {% if game.home_team.key == team.key %}
                <button type="submit" class="btn btn-dark text-white p-2 position-relative" name="matchup" value="{{ game.ID }}">
                  <div class="row px-1 mx-1">
                    <span class="text-center"><small>vs. {{ game.away_team.name }}</small></span>
                  </div>
                  <span class="position-absolute top-50 start-0 translate-middle badge rounded-pill text-dark"><img src="{{ url_for('static', filename='logos/'+game.away_team.key+'.png') }}" height="40"></span>
                  <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill text-dark bg-light">{{game.week}}</span>
                </button>
                {% else %}
                <button type="submit" class="btn btn-dark text-white p-2 position-relative" name="matchup" value="{{ game.ID }}">
                  <div class="row px-1 mx-1">
                    <span class="text-center"><small>@ {{ game.home_team.name }}</small></span>
                  </div>
                  <span class="position-absolute top-50 start-0 translate-middle badge rounded-pill text-dark"><img src="{{ url_for('static', filename='logos/'+game.home_team.key+'.png') }}" height="40"></span>
                  <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill text-dark bg-light">{{game.week}}</span>
                </button>
                {% endif %}
              </div>
              {% endfor %}
            </form>
          </div>
        </div>
        </div>
      </div>
      <!-- MAIN CONTENT -->
      <div class="col-7">
        <!-- Team Leaders -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Team Leaders</div>
            <div class="card-body">
              <div class="row">
                <!-- Passing Yards Leader -->
                <div class="col">
                  {% if passLeader %}
                  <button data-id="{{ passLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                    <div class="row mt-2">
                      <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + passLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                    </div>
                    <div class="row mt-1">
                      <small>{{ passLeader.name }}</small>
                    </div>
                    <div class="row mt-1">
                      <h3>{{ passLeaderStats.passYDs }}</h3>
                    </div>
                    <span class="position-absolute top-100 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                  </button>
                  {% else %}
                  <button class=" btn btn-block btn-dark position-relative">
                    <div class="row mt-2">
                      <img class="img-fluid" src="{{ url_for('static', filename='headshots/default.png') }}">
                    </div>
                    <div class="row mt-1">
                      <small>-</small>
                    </div>
                    <div class="row mt-1">
                      <h3>-</h3>
                    </div>
                    <span class="position-absolute top-100 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                  </button>
                  {% endif %}
                </div>
                <!-- Rushing Yards Leader -->
                <div class="col">
                  {% if rushLeader %}
                  <button data-id="{{ rushLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                    <div class="row mt-2">
                      <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + rushLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                    </div>
                    <div class="row mt-1">
                      <small>{{ rushLeader.name }}</small>
                    </div>
                    <div class="row mt-1">
                      <h3>{{ rushLeaderStats.rushYDs }}</h3>
                    </div>
                    <span class="position-absolute top-100 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                  </button>
                  {% else %}
                  <button class="btn btn-block btn-dark position-relative">
                    <div class="row mt-2">
                      <img class="img-fluid" src="{{ url_for('static', filename='headshots/default.png') }}">
                    </div>
                    <div class="row mt-1">
                      <small>-</small>
                    </div>
                    <div class="row mt-1">
                      <h3>-</h3>
                    </div>
                    <span class="position-absolute top-100 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                  </button>
                  {% endif %}
                </div>
                <!-- Receiving Yards Leader -->
                <div class="col">
                  {% if recLeader %}
                  <button data-id="{{ recLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                    <div class="row mt-2">
                      <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + recLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                    </div>
                    <div class="row mt-1">
                      <small>{{ recLeader.name }}</small>
                    </div>
                    <div class="row mt-1">
                      <h3>{{ recLeaderStats.recYDs }}</h3>
                    </div>
                    <span class="position-absolute top-100 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                  </button>
                  {% else %}
                  <button class="btn btn-block btn-dark position-relative">
                    <div class="row mt-2">
                      <img class="img-fluid" src="{{ url_for('static', filename='headshots/default.png') }}">
                    </div>
                    <div class="row mt-1">
                      <small>-</small>
                    </div>
                    <div class="row mt-1">
                      <h3>-</h3>
                    </div>
                    <span class="position-absolute top-100 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                  </button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Team Stat Per Game -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Team Stats Per Game</div>
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <button class="btn text-dark bgcolor{{ team_stats.passYDsPerGameRank }} w-100 position-relative">
                    <div class="row mt-3">
                      <h1>{{ '%0.1f' |format(team_stats.passYDsPerGame) }}</h1>
                    </div>
                    <div class="row">
                      <small>#{{ team_stats.passYDsPerGameRank }}</small>
                    </div>
                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                  </button>
                </div>
                <div class="col text-center">
                  <button class="btn text-dark bgcolor{{ team_stats.rushYDsPerGameRank }} w-100 position-relative">
                    <div class="row mt-3">
                      <h1>{{ '%0.1f' |format(team_stats.rushYDsPerGame) }}</h1>
                    </div>
                    <div class="row">
                      <small>#{{ team_stats.rushYDsPerGameRank }}</small>
                    </div>
                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                  </button>
                </div>
                <div class="col text-center">
                  <button class="btn text-dark bgcolor{{ team_stats.PPGRank }} w-100 position-relative">
                    <div class="row mt-3">
                      <h1>{{ '%0.1f'| format(team_stats.PPG|float) }}</h1>
                    </div>
                    <div class="row">
                      <small>#{{ team_stats.PPGRank }}</small>
                    </div>
                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Points For</span>
                  </button>
                </div>
                <div class="col text-center">
                  <button class="btn text-dark bgcolor{{ team_stats.PAPGRank }} w-100 position-relative">
                    <div class="row mt-3">
                      <h1>{{ '%0.1f'| format(team_stats.PAPG|float) }}</h1>
                    </div>
                    <div class="row">
                      <small>#{{ team_stats.PAPGRank }}</small>
                    </div>
                    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Points Against</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- RIGHT COLUMN -->
      <div class="col-3">
        <!-- Injury Report -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Injury Report</div>
            <div class="card-body">
              <table class="player-table table table-sm table-dark table-hover">
                <thead>
                  <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Injury</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in players %}
                    <tr data-id="{{ player.ID }}">
                        {% if player.designation == 'Questionable' or player.designation == 'Doubtful' %}
                        <td>{{ player.position }}</td>
                        <td>{{ player.fname[0] }}. {{  player.lname  }} <div class="badge rounded-pill p-1 bg-warning"><span class="visually-hidden">N</span></div></td>
                        <td>{{ player.injury}} </td>
                        {% elif player.designation == 'Out' %}
                        <td>{{ player.position }}</td>
                        <td>{{ player.name }} <div class="badge rounded-pill p-1 bg-danger"><span class="visually-hidden">N</span></div></td>
                        <td>{{ player.injury}} </td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Injured Reserve -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Injured Reserve</div>
            <div class="card-body">
              <table class="player-table table table-sm table-dark table-hover">
                <thead>
                  <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Injury</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in players %}
                    <tr data-id="{{ player.ID }}">
                        {% if player.status == 'Out' and player.designation != 'Out' %}
                        <td>{{ player.position }}</td>
                        <td>{{ player.fname[0] }}. {{  player.lname  }} <div class="badge rounded-pill p-1 bg-danger"><span class="visually-hidden">N</span></div></td>
                        <td>{{ player.injury}}</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Division Standings -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">2021 {{team.conference}} {{team.division}} Standings</div>
            <div class="card-body">
              <div class="row">
                <table class="table table-sm table-dark table-hover">
                  <thead>
                    <tr>
                      <td>TEAM</td>
                      <td>W</td>
                      <td>L</td>
                      <td>T</td>
                      <td>PCT</td>
                      <td>PF</td>
                      <td>PA</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for t in teams|sort(attribute='preseason_wins', reverse=True) %}
                    {% if t.conference == team.conference and t.division == team.division %}
                    <tr>
                      <td>{{ t.name }}</td>
                      <td>{{ t.preseason_wins }}</td>
                      <td>{{ t.preseason_loses }}</td>
                      <td>{{ t.preseason_ties }}</td>
                      <td>{{ '%0.1f' |format(t.preseason_wins/t.preseason_games_played) }}</td>
                      <td></td>
                      <td></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Stats Page Content -->
  <div id="statsPage" class="container text-white visually-hidden">
    <div class="row justify-content-center">
      <!-- MAIN CONTENT -->
      <div class="col-12">
        <!-- Team Stat Leaders -->
        <div class="row mt-2">
            <div class="card bg-dark">
                <div class="card-title text-center">Stat Leaders</div>
                <div class="card-body">
                    <div class="row mt-2">
                      <!-- Passing Leader -->
                      <div class="col-4">
                        <button data-id="{{ passLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                            <div class="row">
                                <div class="col-6 align-self-center">
                                    <div class="row mt-2 text-start"><small>{{ passLeader.name }}</small></div>
                                    <div class="row mt-1 text-start"><h1 class="text-muted">{{ passLeaderStats.passYDs }} YDs</h1></div>
                                </div>
                                <div class="col-6 position-relative">
                                    <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + passLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                </div>
                            </div>
                            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Passing Yards</span>
                        </button>
                      </div>
                      <!-- Rushing Leader -->
                      <div class="col-4">
                        <button data-id="{{ rushLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                            <div class="row">
                                <div class="col-6 align-self-center">
                                    <div class="row mt-2 text-start"><small>{{ rushLeader.name }}</small></div>
                                    <div class="row mt-1 text-start"><h1 class="text-muted">{{ rushLeaderStats.rushYDs }} YDs</h1></div>
                                </div>
                                <div class="col-6 position-relative">
                                    <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + rushLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                </div>
                            </div>
                            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Rushing Yards</span>
                        </button>
                      </div>
                      <!-- Receiving Leader -->
                      <div class="col-4">
                        <button data-id="{{ recLeader.ID }}" class="border-secondary player-btn btn btn-block btn-dark position-relative">
                            <div class="row">
                                <div class="col-6 align-self-center">
                                    <div class="row mt-2 text-start"><small>{{ recLeader.name }}</small></div>
                                    <div class="row mt-1 text-start"><h1 class="text-muted">{{ recLeaderStats.recYDs }} YDs</h1></div>
                                </div>
                                <div class="col-6 position-relative">
                                    <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + recLeader.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                                </div>
                            </div>
                            <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill text-dark bg-light">Receiving Yards</span>
                        </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Player Season Stats -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Preseason Stats</div>
            <div class="card-body">
              <!-- Preseason Passing -->
              <div class="row text-white">
                <div class="row">
                  <h5>Passing</h5>
                </div>
                <table class="sortable player-table table table-sm table-dark table-hover">
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td class="text-end">GP</td>
                      <td class="text-end">CMP</td>
                      <td class="text-end">ATT</td>
                      <td class="text-end">CMP%</td>
                      <td class="text-end">YDS</td>
                      <td class="text-end">AVG</td>
                      <td class="text-end">YDS/G</td>
                      <td class="text-end">TD</td>
                      <td class="text-end">INT</td>
                      <td class="text-end">SACK</td>
                      <td class="text-end">SYL</td>
                      <td class="text-end">RTG</td>
                    </tr>
                  </thead>
                  {% for season_stats in player_stats|sort(attribute='passYDs', reverse=True) %}
                  {% if season_stats.passAtts > 0 %}
                  <tr data-id="{{ season_stats.player.ID }}">
                    <td>{{ season_stats.player.name }} <small class="text-muted">{{ season_stats.player.position }}</small></td>
                    <td class="text-end">{{ season_stats.gamesPlayed }}</td>
                    <td class="text-end">{{ season_stats.passComps }}</td>
                    <td class="text-end">{{ season_stats.passAtts }}</td>
                    <td class="text-end">{{  '%0.1f' | format((season_stats.passComps/season_stats.passAtts)*100) }}</td>
                    <td class="text-end">{{ season_stats.passYDs }}</td>
                    {% if season_stats.passComps > 0 %}
                    <td class="text-end">{{  '%0.1f' | format(season_stats.passYDs/season_stats.passComps) }}</td>
                    {% else %}
                    <td class="text-end">0.0</td>
                    {% endif %}
                    <td class="text-end">{{ '%0.1f' | format(season_stats.passYDsPerGame) }}</td>
                    <td class="text-end">{{ season_stats.passTDs }}</td>
                    <td class="text-end">{{ season_stats.passINTs }}</td>
                    <td class="text-end">{{ season_stats.passSacks }}</td>
                    <td class="text-end">{{ season_stats.passSackYDs }}</td>
                    <td class="text-end">{{ '%0.1f' | format(season_stats.passRTG) }}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </table>
              </div>
              <!-- Preseason Rushing -->
              <div class="row text-white">
                <div class="row">
                  <h5>Rushing</h5>
                </div>
                <table class="sortable player-table table table-sm table-dark table-hover">
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td class="text-end">GP</td>
                      <td class="text-end">ATT</td>
                      <td class="text-end">YDS</td>
                      <td class="text-end">AVG</td>
                      <td class="text-end">LNG</td>
                      <td class="text-end">TD</td>
                      <td class="text-end">YDS/G</td>
                      <td class="text-end">FUM</td>
                      <td class="text-end">LST</td>
                    </tr>
                  </thead>
                  {% for season_stats in player_stats|sort(attribute='rushYDs', reverse=True) %}
                  {% if season_stats.rushAtts > 0 %}
                  <tr data-id="{{ season_stats.player.ID }}">
                    <td>{{ season_stats.player.name }} <small class="text-muted">{{ season_stats.player.position }}</small></td>
                    <td class="text-end">{{ season_stats.gamesPlayed }}</td>
                    <td class="text-end">{{ season_stats.rushAtts }}</td>
                    <td class="text-end">{{ season_stats.rushYDs }}</td>
                    <td class="text-end">{{ '%0.1f' | format(season_stats.rushYDs/season_stats.rushAtts) }}</td>
                    <td class="text-end">{{ season_stats.rushLng }}</td>
                    <td class="text-end">{{ season_stats.rushTDs }}</td>
                    <td class="text-end">{{ '%0.1f' | format(season_stats.rushYDs/season_stats.gamesPlayed) }}</td>
                    <td class="text-end">FUM</td>
                    <td class="text-end">LST</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </table>
              </div>
              <!-- Preseason Receiving -->
              <div class="row text-white">
                <div class="row">
                  <h5>Receiving</h5>
                </div>
                <table class="sortable player-table table table-sm table-dark table-hover">
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td class="text-end">GP</td>
                      <td class="text-end">REC</td>
                      <td class="text-end">TGTS</td>
                      <td class="text-end">YDS</td>
                      <td class="text-end">AVG</td>
                      <td class="text-end">TD</td>
                      <td class="text-end">LNG</td>
                      <td class="text-end">YDS/G</td>
                      <td class="text-end">FUM</td>
                      <td class="text-end">LST</td>
                    </tr>
                  </thead>
                  {% for season_stats in player_stats|sort(attribute='recYDs', reverse=True) %}
                  {% if season_stats.recTGTS > 0 %}
                  <tr data-id="{{ season_stats.player.ID }}">
                    <td>{{ season_stats.player.name }} <small class="text-muted">{{ season_stats.player.position }}</small></td>
                    <td class="text-end">{{ season_stats.gamesPlayed }}</td>
                    <td class="text-end">{{ season_stats.recs }}</td>
                    <td class="text-end">{{ season_stats.recTGTS }}</td>
                    <td class="text-end">{{ season_stats.recYDs }}</td>
                    {% if season_stats.recs > 0 %}
                    <td class="text-end">{{ '%0.1f' | format(season_stats.recYDs/season_stats.recs) }}</td>
                    {% else %}
                    <td class="text-end">0.0</td>
                    {% endif %}
                    <td class="text-end">{{ season_stats.recTDs }}</td>
                    <td class="text-end">{{ season_stats.recLng }}</td>
                    <td class="text-end">{{ '%0.1f' | format(season_stats.recYDs/season_stats.gamesPlayed) }}</td>
                    <td class="text-end">FUM</td>
                    <td class="text-end">LST</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Roster Page Content -->
  <div id="rosterPage" class="container text-white visually-hidden">
    <div class="row">
      <!-- MAIN CONTENT -->
      <div class="col-8">
        <!-- Team Roster -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Roster</div>
            <div class="card-body">
              <div class="row text-white">
                <table class="sortable player-table table table-dark table-hover">
                  <thead>
                    <tr>
                      <td>#</td>
                      <td>Name</td>
                      <td>Pos</td>
                      <td>Age</td>
                      <td>Ht</td>
                      <td>Wt</td>
                      <td>Exp</td>
                      <td>College</td>
                    </tr>
                  </thead>
                  {% for player in players %}
                  <tr data-id="{{ player.ID }}">
                    {% if player.number %}
                    <td>{{ player.number }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                    <td>{{ player.name }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.age }}</td>
                    <td>{{ player.height }}</td>
                    <td>{{ player.weight }}</td>
                    {% if player.experience == 0 %}
                    <td>R</td>
                    {% else %}
                    <td>{{ player.experience }}</td>
                    {% endif %}
                    <td>{{ player.college }}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- RIGHT COLUMN -->
      <div class="col-4">
        <!-- Rookie Class -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">2021 Rookie Class</div>
            <div class="card-body">
              <table class="player-table table table-sm table-dark table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Pos</th>
                    <th>College</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in players %}
                    <tr data-id="{{ player.ID }}">
                        {% if player.experience == 0 %}
                        <td>{{ player.fname[0] }}. {{  player.lname  }}</td>
                        <td>{{ player.position }} </td>
                        <td>{{ player.college }}</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Injury Page Content -->
  <div id="injuryPage" class="container text-white visually-hidden">
    <div class="row">
      <!-- MAIN CONTENT -->
      <div class="col-8">
        <!-- Injury News -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Injury News</div>
            <div class="card-body">
              <div class="row text-white">
                <table class="player-table table table-sm table-dark table-hover">
                  {% for player in players %}
                  {% if player.status != "Active" %}
                  <tr data-id="{{ player.ID }}">
                    <td>
                      <div class="row text-white">
                        <div class="col-3 align-self-center">
                          <img class="img-fluid" src="{{ url_for('static', filename='headshots/' + player.ID|string + '.png') }}" onerror="this.src='{{ default_headshot_path }}'">
                        </div>
                        <div class="col-9 align-self-center">
                          {% if player.status == 'Q' or player.status == 'D' %}
                          <div class="row">
                            <div class="col">{{player.name}} <small class="text-muted">{{player.position}} </small> <div class="badge rounded-pill p-1 bg-warning"><span> {{ player.designation }}</span></div></div>
                          </div>
                          {% else %}
                          <div class="row">
                            <div class="col">{{player.name}} <small class="text-muted">{{player.position}} </small> <div class="badge rounded-pill p-1 bg-danger"><span> {{ player.designation }}</span></div></div>
                          </div>
                          {% endif %}
                          <div class="row">
                            <div class="col"><small>Injury: <span class="text-muted">{{ player.injury }}</span></small></div>
                          </div>
                          <div class="row">
                            <div class="col"><small>Expected Return: <span class="text-muted">{{ player.ret }}</span></small></div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <small class="fst-italic">{{ player.date }}</small>
                      </div>
                      <div class="row">
                        <span class="text-muted">{{ player.news }}</span>
                      </div>
                      <div class="row mt-2">
                        <small class="fst-italic">Analysis</small>
                      </div>
                      <div class="row">
                        <span class="text-muted">{{ player.analysis }}</span>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- RIGHT COLUMN -->
      <div class="col-4">
        <!-- Injury Report -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Injury Report</div>
            <div class="card-body">
              <table class="player-table table table-sm table-dark table-hover">
                <thead>
                  <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Injury</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in players %}
                    <tr data-id="{{ player.ID }}">
                        {% if player.designation == 'Questionable' or player.designation == 'Doubtful' %}
                        <td>{{ player.position }}</td>
                        <td>{{ player.fname[0] }}. {{  player.lname  }} <div class="badge rounded-pill p-1 bg-warning"><span class="visually-hidden">N</span></div></td>
                        <td>{{ player.injury}} </td>
                        {% elif player.designation == 'Out' %}
                        <td>{{ player.position }}</td>
                        <td>{{ player.name }} <div class="badge rounded-pill p-1 bg-danger"><span class="visually-hidden">N</span></div></td>
                        <td>{{ player.injury}} </td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Injured Reserve -->
        <div class="row mt-2">
          <div class="card bg-dark">
            <div class="card-title text-center">Injured Reserve</div>
            <div class="card-body">
              <table class="player-table table table-sm table-dark table-hover">
                <thead>
                  <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Injury</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in players %}
                    <tr data-id="{{ player.ID }}">
                        {% if player.status == 'Out' and player.designation != 'Out' %}
                        <td>{{ player.position }}</td>
                        <td>{{ player.fname[0] }}. {{  player.lname  }} <div class="badge rounded-pill p-1 bg-danger"><span class="visually-hidden">N</span></div></td>
                        <td>{{ player.injury}}</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- style="background: #{{ team.primary }}" -->
<script>

    // Set default number of entries to display to 'ALL"
    //$(document).ready(function(){
    //  $('#roster').DataTable({
    //    "lengthMenu": [[-1, 10, 25, 50], ["All", 10, 25, 50]]
    //  });
    //});

    // Disable filtered position button
    $(document).ready(function(){
      $("#{{ position }}").prop("disabled",true);
    });

  //$("#QB").click(function(){
  //  var table = document.getElementById("roster");
  //  for (var i = 0, row; row = table.rows[i]; i++) {
  //      if (row.cells[2].innerHTML != "QB") {
  //        row.setAttribute("style", "display:none;");
  //      } else {
  //        row.setAttribute("style", "visibility: visible;");
  //      }
  //   }
  //});

  $(function() {
          $('#statsSelection').on('click', function(e) {
            e.preventDefault()
            hideContainers();
            document.getElementById("mainContainer").classList.remove("visually-hidden");
            document.getElementById("teamNav").classList.remove("visually-hidden");
            document.getElementById("statsPage").classList.remove("visually-hidden");
            document.getElementById("playerCardContainer").classList.remove("visually-hidden");
          });
        });

  $(function() {
          $('#rosterSelection').on('click', function(e) {
            e.preventDefault()
            hideContainers();
            document.getElementById("mainContainer").classList.remove("visually-hidden");
            document.getElementById("teamNav").classList.remove("visually-hidden");
            document.getElementById("rosterPage").classList.remove("visually-hidden");
            document.getElementById("playerCardContainer").classList.remove("visually-hidden");
          });
        });

  $(function() {
          $('#injurySelection').on('click', function(e) {
            e.preventDefault()
            hideContainers();
            document.getElementById("mainContainer").classList.remove("visually-hidden");
            document.getElementById("teamNav").classList.remove("visually-hidden");
            document.getElementById("injuryPage").classList.remove("visually-hidden");
            document.getElementById("playerCardContainer").classList.remove("visually-hidden");
          });
        });

  function hideContainers() {
        console.log("HELLO");
        var containers = document.getElementsByClassName('container');
        for (let i = 0; i < containers.length; i++) {
        let container = containers[i];
        container.classList.add("visually-hidden");
        }
   };

 </script>
{% endblock %}
